Repository kcirtapfromspace/no_drake_in_the_house: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, typescript-check, kubeval

cargo-fmt:
  name: Cargo Format
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo Clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo Check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npm run check'
  language: system
  pass_filenames: false

kubeval:
  name: Kubernetes Manifest Validation
  entry: bash -c 'if command -v kubeval >/dev/null 2>&1; then find k8s helm/templates -name "*.yaml" -exec kubeval {} \; || true; fi'
  language: system
  pass_filenames: false

feat: Add multi-provider support to enforcement planning UI
  frontend/src/lib/components/EnforcementPlanning.svelte
Due: typescript-check

feat: Implement graph visualization API handlers with real database queries
  backend/src/handlers/graph.rs
  backend/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: Add local database search for graph explorer
  backend/src/handlers/graph.rs
  backend/src/lib.rs
  frontend/src/lib/components/GraphExplorer.svelte
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix(graph): Fix search and network endpoints for graph visualization
  backend/src/handlers/graph.rs
Due: cargo-fmt, cargo-clippy, cargo-check

test(apple-music): Add sandbox integration tests and CI workflow
  .github/workflows/ci.yml
  backend/tests/apple_music_sandbox_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check

chore: Clean git history and improve gitignore
  .github/workflows/ci.yml
  .gitignore
  backend/tests/apple_music_sandbox_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check

chore: Remove remaining .DS_Store file
  .DS_Store
Due: none

chore: Track .dockerignore files
  backend/.dockerignore
  frontend/.dockerignore
Due: none

feat(spotify): Improve enforcement handlers with real blocked content
  backend/src/handlers/spotify_enforcement.rs
  backend/src/services/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(spotify): Use authenticated user ID in enforcement handlers
  backend/src/handlers/spotify_enforcement.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(db): Add production-ready artist seed data
  backend/migrations/027_seed_complete_existing.sql
  backend/migrations/028_seed_artists_batch1_violence.sql
  backend/migrations/029_seed_artists_batch2_misconduct.sql
  backend/migrations/030_seed_artists_batch3_hate.sql
  backend/migrations/031_seed_artists_batch4_drugs_fraud.sql
  backend/migrations/032_seed_artists_batch5_other.sql
Due: none

docs: Add comprehensive PRD for feature completion
  docs/PRD_FEATURE_COMPLETION.md
Due: none

feat: US-002 - Replace ad-hoc admin checks with role permissions
  docs/PRD_UNFINISHED_FEATURES.md
  ralph/prd.json
  tasks/prd-platform-hardening.md
Due: none

feat: US-001 - Enforce authorization on sensitive endpoints
  ralph/US-003-lancedb.patch
  ralph/prd.json
  ralph/progress.txt
  ralph/us-001.patch
  ralph/workspace/backend/src/services/databases/lancedb_client.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: US-003 - Implement LanceDB client operations
  ralph/prd.json
  ralph/progress.txt
Due: none

feat: US-005 - Complete community list analytics metrics
  ralph/prd.json
  ralph/progress.txt
  ralph/workspace/backend/src/services/databases/lancedb_client.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: US-004 - Complete enforcement analytics metrics
  ralph/prd.json
  ralph/progress.txt
  ralph/workspace/backend/src/services/analytics.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: US-006 - Complete system performance analytics
  ralph/.ralph/checkpoint.json
  ralph/prd.json
  ralph/progress.txt
  ralph/workspace/backend/src/lib.rs
  ralph/workspace/backend/src/services/analytics.rs
  ralph/workspace/backend/src/services/monitoring.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: US-008 - Restore or explicitly gate account merge
  ralph/.ralph/checkpoint.json
  ralph/prd.json
  ralph/progress.txt
Due: none

feat: Add metrics and job queue improvements (partial US-019/020/021/023)
  backend/src/metrics.rs
  backend/src/services/job_queue.rs
  backend/src/services/login_performance.rs
Due: cargo-fmt, cargo-clippy, cargo-check

chore: Update PRD to production-readiness (27 stories)
  ralph/prd.json
  ralph/progress.txt
Due: none

style: Apply cargo fmt formatting fixes
  backend/src/handlers/spotify_connection.rs
  backend/src/lib.rs
  backend/src/metrics.rs
  backend/src/monitoring.rs
  backend/src/services/apple_music.rs
  backend/src/services/rate_limiting.rs
  backend/src/services/spotify.rs
  backend/src/services/token_refresh_job.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: Add missing updated_at column to artists table
  backend/migrations/024b_add_artists_updated_at.sql
Due: none

fix: Add missing updated_at column to artists table in migration 025
  backend/migrations/024b_add_artists_updated_at.sql
  backend/migrations/025_seed_drake_showcase.sql
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  cargo-check: any of: \.rs$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  typescript-check: any of: \.(ts|svelte)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  kubeval: any of: (k8s/.*\.yaml|helm/templates/.*\.yaml)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

