Repository kcirtapfromspace/no_drake_in_the_house: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, typescript-check, kubeval

.pre-commit-config.yaml:

# Pre-commit hooks for No Drake in the House
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in Kubernetes manifests
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: cargo fmt
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all', '--', '--check']

      - id: cargo-clippy
        name: Cargo Clippy
        entry: cargo clippy
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features', '--', '-D', 'warnings']

      - id: cargo-check
        name: Cargo Check
        entry: cargo check
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features']

  # Frontend formatting and linting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: '\.(js|ts|svelte|json|css|md|yaml|yml)$'
        exclude: '(package-lock\.json|\.lock|target/|node_modules/|\.git/)'
        args: ['--write']

  # TypeScript checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd frontend && npm run check'
        language: system
        files: '\.(ts|svelte)$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '(package-lock\.json|Cargo\.lock|\.env\.example)'

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008', '--ignore', 'DL3009']

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']  # Ignore sourcing files that may not exist

  # Kubernetes manifest validation
  - repo: local
    hooks:
      - id: kubeval
        name: Kubernetes Manifest Validation
        entry: bash -c 'if command -v kubeval >/dev/null 2>&1; then find k8s helm/templates -name "*.yaml" -exec kubeval {} \; || true; fi'
        language: system
        files: '(k8s/.*\.yaml|helm/templates/.*\.yaml)$'
        pass_filenames: false

  # SQL formatting (if sqlfluff is available)
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.3.5
    hooks:
      - id: sqlfluff-lint
        files: '\.sql$'
        args: ['--dialect', 'postgres']
      - id: sqlfluff-fix
        files: '\.sql$'
        args: ['--dialect', 'postgres']

# Configuration for specific tools
default_language_version:
  python: python3.11
  node: '18.19.0'

# Global excludes
exclude: |
  (?x)^(
    .*\.lock$|
    .*\.log$|
    target/.*|
    node_modules/.*|
    \.git/.*|
    \.vscode/.*|
    \.idea/.*|
    backend/target/.*|
    frontend/node_modules/.*|
    frontend/build/.*|
    frontend/public/build/.*
  )$

# Fail fast - stop on first failure
fail_fast: false

# Minimum pre-commit version
minimum_pre_commit_version: '3.0.0'

feat: Spotify dual-write, normalized API handlers, frontend ID-based lookup
  backend/src/handlers/offense.rs
  backend/src/handlers/spotify_connection.rs
  backend/src/lib.rs
  frontend/src/lib/components/PlaylistSanitizer.svelte
  frontend/src/lib/components/PlaylistTracklist.svelte
  frontend/src/lib/stores/playlist-browser.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

feat: add normalized playlist dual-write to all providers
  backend/src/handlers/apple_music_auth.rs
  backend/src/handlers/tidal_connection.rs
  backend/src/handlers/youtube_connection.rs
Due: cargo-fmt, cargo-clippy, cargo-check

test: comprehensive TDD coverage for normalized playlist system
  backend/tests/playlist_repository_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check

perf: eliminate N+1 queries and correlated subqueries in playlist listing
  backend/crates/ndith-services/src/playlist_repository.rs
  backend/migrations/039_normalized_playlists.sql
Due: cargo-fmt, cargo-clippy, cargo-check

fix: fetch individual playlist tracks for Tidal and Apple Music
  backend/crates/ndith-services/src/apple_music.rs
  backend/crates/ndith-services/src/tidal.rs
  backend/src/handlers/apple_music_auth.rs
  backend/src/handlers/tidal_connection.rs
Due: cargo-fmt, cargo-clippy, cargo-check

style: cargo fmt --all
  .playwright-mcp/page-2026-03-24T23-42-59-710Z.png
  .playwright-mcp/page-2026-03-25T02-06-40-830Z.png
  backend/crates/ndith-news/src/news_pipeline/ingestion/newsapi_client.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/rss_fetcher.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/twitter_monitor.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/web_scraper.rs
  backend/crates/ndith-news/src/news_pipeline/processing/llm_client.rs
  backend/crates/ndith-services/src/apple_music.rs
  backend/crates/ndith-services/src/catalog_sync/deezer.rs
  backend/crates/ndith-services/src/catalog_sync/youtube_music.rs
  backend/crates/ndith-services/src/oauth_apple.rs
  backend/crates/ndith-services/src/oauth_github.rs
  backend/crates/ndith-services/src/playlist_repository.rs
  backend/src/handlers/apple_music_auth.rs
  backend/src/handlers/spotify_connection.rs
  backend/src/handlers/spotify_enforcement.rs
  backend/src/handlers/tidal_connection.rs
  backend/src/handlers/youtube_connection.rs
  backend/src/lib.rs
  backend/tests/playlist_repository_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: make migration 039 backfill defensive, fix clippy warnings
  backend/crates/ndith-services/src/spotify.rs
  backend/migrations/039_normalized_playlists.sql
Due: cargo-fmt, cargo-clippy, cargo-check

fix: restore migration 039 checksum, move indexes to 040
  backend/migrations/039_normalized_playlists.sql
  backend/migrations/040_playlist_perf_indexes.sql
Due: none

fix: resolve Spotify and Tidal OAuth connection failures
  backend/crates/ndith-services/src/oauth_spotify.rs
  backend/crates/ndith-services/src/tidal.rs
  backend/src/handlers/spotify_connection.rs
  backend/src/handlers/tidal_connection.rs
  frontend/src/lib/components/OAuthCallback.svelte
  frontend/src/lib/components/__tests__/OAuthCallback.test.ts
  frontend/src/lib/stores/connections.ts
  frontend/src/lib/utils/oauth-callback.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

feat: Convex migration phases 2, 4, 5 — encryption, analytics, news
  convex/analytics.ts
  convex/crons.ts
  convex/enforcement.ts
  convex/lib/crypto.ts
  convex/news.ts
  convex/newsIngestion.ts
  convex/providerOAuth.ts
  frontend/src/lib/convex/bridge.ts
Due: typescript-check

feat: Convex migration phases 1, 3 — library sync and enforcement
  convex/enforcement.ts
  convex/library.ts
  convex/librarySyncActions.ts
  convex/sync.ts
Due: typescript-check

feat: remove Network from main nav, wire artist profile connections
  frontend/src/lib/components/ArtistProfile.svelte
  frontend/src/lib/components/Layout.svelte
Due: typescript-check

fix: move Spotify sync handler to background and add tracing
  backend/src/handlers/spotify_connection.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: address auth, OAuth, and rate limiting issues across providers
  backend/crates/ndith-services/src/apple_music.rs
  backend/crates/ndith-services/src/offense.rs
  backend/crates/ndith-services/src/tidal.rs
  backend/crates/ndith-services/src/token_vault.rs
  backend/src/handlers/spotify_connection.rs
  backend/src/handlers/tidal_connection.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: resolve N+1 queries, race conditions, and duplicate CTEs in DB layer
  backend/crates/ndith-services/src/offense.rs
  backend/crates/ndith-services/src/playlist_repository.rs
  backend/src/handlers/spotify_connection.rs
  backend/src/handlers/tidal_connection.rs
  backend/src/handlers/youtube_connection.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: resolve frontend UX issues and API data mismatches
  backend/migrations/041_library_search_index.sql
  backend/src/handlers/offense.rs
  frontend/src/lib/components/AnalyticsDashboard.svelte
  frontend/src/lib/components/Home.svelte
  frontend/src/lib/components/PlaylistSanitizer.svelte
  frontend/src/lib/components/PlaylistTracklist.svelte
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/stores/analytics.ts
  frontend/src/lib/utils/time-ago.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

style: cargo fmt --all
  .playwright-mcp/page-2026-03-26T02-25-29-109Z.png
  .playwright-mcp/page-2026-03-26T02-26-05-680Z.png
  .playwright-mcp/page-2026-03-26T02-26-25-771Z.png
  .playwright-mcp/page-2026-03-26T02-26-41-459Z.png
  .playwright-mcp/page-2026-03-26T02-27-16-290Z.png
  .playwright-mcp/page-2026-03-26T02-27-32-583Z.png
  backend/crates/ndith-services/src/offense.rs
  backend/crates/ndith-services/src/token_vault.rs
  backend/src/handlers/spotify_connection.rs
  backend/src/handlers/tidal_connection.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: update connection status after background Spotify sync
  backend/src/handlers/spotify_connection.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: TuneMyMusic-style service connector grid + popup OAuth
  frontend/src/lib/components/ServiceConnector.svelte
  frontend/src/lib/stores/connections.ts
Due: typescript-check

feat: wire ServiceConnector into Library page, hide old service cards
  frontend/src/lib/components/SyncDashboard.svelte
Due: typescript-check

fix: center OAuth popups over browser window
  frontend/src/lib/stores/connections.ts
Due: typescript-check

fix: link validator with Wayback Machine fallback, populate connections tab, drop graph button
  frontend/src/lib/components/ArtistProfile.svelte
  frontend/src/lib/components/__tests__/ArtistProfile.test.ts
  frontend/src/lib/utils/__tests__/link-validator.test.ts
  frontend/src/lib/utils/link-validator.ts
Due: typescript-check

feat: move analytics to home page, remove Analytics nav
  frontend/src/App.svelte
  frontend/src/lib/components/Home.svelte
  frontend/src/lib/components/Layout.svelte
Due: typescript-check

fix: restore broken routes, fix design token compliance and accessibility
  frontend/src/App.svelte
  frontend/src/lib/components/BillingSettings.svelte
  frontend/src/lib/components/FeatureGate.svelte
  frontend/src/lib/components/LandingPage.svelte
  frontend/src/lib/components/Pricing.svelte
  frontend/src/lib/components/UpgradePrompt.svelte
Due: typescript-check

fix: restore sign-in flow and pricing route for unauthenticated users
  frontend/src/App.svelte
  frontend/src/lib/components/LandingPage.svelte
  frontend/src/lib/utils/simple-router.ts
Due: typescript-check

fix: scrap landing page, restore offense database as public homepage
  frontend/public/sitemap.xml
  frontend/src/App.svelte
  frontend/src/lib/components/FAQ.svelte
  frontend/src/lib/components/LandingPage.svelte
  frontend/src/lib/utils/simple-router.ts
Due: typescript-check

fix: move login route inside public shell so sign-in actually renders
  frontend/src/App.svelte
Due: typescript-check

fix: guard severityConfig access to prevent TypeError crashing Svelte reactivity
  frontend/src/lib/components/OffenseDatabase.svelte
Due: typescript-check

revert: restore frontend to pre-monetization state
  frontend/public/favicon.svg
  frontend/public/index.html
  frontend/public/llms-full.txt
  frontend/public/llms.txt
  frontend/public/robots.txt
  frontend/public/sitemap.xml
  frontend/src/App.svelte
  frontend/src/lib/components/BillingSettings.svelte
  frontend/src/lib/components/FAQ.svelte
  frontend/src/lib/components/FeatureGate.svelte
  frontend/src/lib/components/OffenseDatabase.svelte
  frontend/src/lib/components/Pricing.svelte
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/components/UpgradePrompt.svelte
  frontend/src/lib/components/__tests__/BillingSettings.test.ts
  frontend/src/lib/components/__tests__/FeatureGate.test.ts
  frontend/src/lib/components/__tests__/FeatureGateTestWrapper.svelte
  frontend/src/lib/components/__tests__/Pricing.test.ts
  frontend/src/lib/components/__tests__/UpgradePrompt.test.ts
  frontend/src/lib/stores/analytics-tracking.ts
  frontend/src/lib/stores/billing.ts
  frontend/src/lib/utils/__tests__/analytics-providers.test.ts
  frontend/src/lib/utils/__tests__/analytics.test.ts
  frontend/src/lib/utils/analytics-providers.ts
  frontend/src/lib/utils/analytics.ts
  frontend/src/lib/utils/simple-router.ts
Due: typescript-check

feat: scrub & clone any Spotify playlist via URL paste
  frontend/src/lib/components/PlaylistSanitizer.svelte
Due: typescript-check

feat: integrate PostHog analytics with automatic pageview and identity tracking
  .github/workflows/render-frontend-image.yml
  frontend/.env.example
  frontend/Dockerfile.render
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.svelte
  frontend/src/lib/utils/config.ts
  frontend/src/lib/utils/posthog.ts
Due: typescript-check

refactor: inject PostHog config at runtime via window.__ENV__ instead of build-time
  .github/workflows/render-frontend-image.yml
  frontend/Dockerfile.render
  frontend/render-entrypoint.sh
  frontend/src/lib/utils/config.ts
Due: typescript-check

fix: remove import.meta.env fallback for PostHog to prevent Rollup void 0 crash
  frontend/src/lib/utils/config.ts
Due: typescript-check

fix: close OAuth popup after successful callback instead of navigating
  frontend/src/lib/components/OAuthCallback.svelte
Due: typescript-check

feat: add scrub & clone buttons to playlist grid
  frontend/src/lib/components/BatchScrubProgress.svelte
  frontend/src/lib/components/PlaylistCard.svelte
  frontend/src/lib/components/PlaylistSanitizer.svelte
  frontend/src/lib/stores/playlist-browser.ts
  frontend/src/lib/stores/sanitizer.ts
Due: typescript-check

Stabilize library sync and playlist state
  backend/crates/ndith-core/src/models/playlist.rs
  backend/crates/ndith-services/src/playlist_repository.rs
  backend/src/handlers/connections.rs
  backend/src/handlers/mod.rs
  backend/src/handlers/provider_library_sync_status.rs
  backend/src/handlers/spotify_connection.rs
  backend/src/handlers/tidal_connection.rs
  backend/src/handlers/youtube_connection.rs
  backend/src/lib.rs
  frontend/src/lib/components/Home.svelte
  frontend/src/lib/components/PlaylistCard.svelte
  frontend/src/lib/components/PlaylistSanitizer.svelte
  frontend/src/lib/components/PlaylistTracklist.svelte
  frontend/src/lib/components/Settings.svelte
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/stores/__tests__/connections.test.ts
  frontend/src/lib/stores/connections.ts
  frontend/src/lib/stores/playlist-browser.ts
  frontend/src/lib/utils/sync-dashboard-cache.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

Add missing billing store for frontend build
  frontend/src/lib/stores/billing.ts
Due: typescript-check
