Repository kcirtapfromspace/no_drake_in_the_house: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, typescript-check, kubeval

cargo-fmt:
  name: Cargo Format
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo Clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo Check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npm run check'
  language: system
  pass_filenames: false

kubeval:
  name: Kubernetes Manifest Validation
  entry: bash -c 'if command -v kubeval >/dev/null 2>&1; then find k8s helm/templates -name "*.yaml" -exec kubeval {} \; || true; fi'
  language: system
  pass_filenames: false

feat: Platform Hardening - Complete 9 PRD User Stories
  backend/.sqlx/query-272520c4fe127005c54359a5a87e6b85fd1080523bd86837a28b2797082fc84a.json
  backend/.sqlx/query-f11ead5f600b669f22654deaf60aecc5d2561231abf39124bf60862cda6635e5.json
  backend/src/handlers/analytics_v2.rs
  backend/src/handlers/offense.rs
  backend/src/handlers/sync.rs
  backend/src/middleware/auth.rs
  backend/src/models/auth.rs
  backend/src/services/databases/lancedb_client.rs
  backend/src/services/user.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: Use existing tables for analytics queries (Greptile review feedback)
  backend/src/handlers/analytics_v2.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: UX design system alignment and accessibility improvements
  frontend/src/app.css
  frontend/src/lib/components/BlockingToasts.svelte
  frontend/src/lib/components/ui/Button.svelte
  frontend/src/lib/components/ui/FormError.svelte
  frontend/src/lib/components/ui/index.ts
  frontend/src/lib/styles/unified-design-system.css
Due: typescript-check

feat: UX design system alignment and accessibility improvements
  frontend/src/app.css
  frontend/src/lib/components/BlockingToasts.svelte
  frontend/src/lib/components/ui/Button.svelte
  frontend/src/lib/components/ui/FormError.svelte
  frontend/src/lib/components/ui/index.ts
  frontend/src/lib/styles/unified-design-system.css
  tasks/prd-ux-alignment.md
Due: typescript-check

feat: UX alignment - mobile nav, skeleton loading, accessibility
  frontend/src/app.css
  frontend/src/lib/components/AnalyticsDashboard.svelte
  frontend/src/lib/components/CommunityLists.svelte
  frontend/src/lib/components/Dashboard.svelte
  frontend/src/lib/components/DnpManager.svelte
  frontend/src/lib/components/LoginForm.svelte
  frontend/src/lib/components/Navigation.svelte
  frontend/src/lib/components/RegisterForm.svelte
  frontend/src/lib/components/TwoFactorSetup.svelte
  frontend/src/lib/components/TwoFactorVerification.svelte
  frontend/src/lib/components/ui/Breadcrumb.svelte
  frontend/src/lib/components/ui/Card.svelte
  frontend/src/lib/components/ui/CardHeader.svelte
  frontend/src/lib/components/ui/Skeleton.svelte
  frontend/src/lib/components/ui/StatCard.svelte
  frontend/src/lib/components/ui/index.ts
Due: typescript-check

fix: Frontend CI test failures - fix mocking issues and update expectations
  frontend/e2e/auth.spec.ts
  frontend/e2e/mobile.spec.ts
  frontend/package.json
  frontend/public/build/bundle.css
  frontend/public/build/bundle.js
  frontend/public/build/bundle.js.map
  frontend/src/App.svelte
  frontend/src/lib/components/BulkActions.svelte
  frontend/src/lib/components/DnpEntry.svelte
  frontend/src/lib/components/DnpManager.svelte
  frontend/src/lib/components/EnforcementExecution.svelte
  frontend/src/lib/components/EnforcementOptions.svelte
  frontend/src/lib/components/EnforcementPlanning.svelte
  frontend/src/lib/components/EnforcementPreview.svelte
  frontend/src/lib/components/Layout.svelte
  frontend/src/lib/components/Login.svelte
  frontend/src/lib/components/LoginForm.svelte
  frontend/src/lib/components/Navigation.svelte
  frontend/src/lib/components/RegisterForm.svelte
  frontend/src/lib/components/ServiceConnections.svelte
  frontend/src/lib/components/SimpleNavigation.svelte
  frontend/src/lib/components/TwoFactorSetup.svelte
  frontend/src/lib/components/TwoFactorVerification.svelte
  frontend/src/lib/components/UserProfile.svelte
  frontend/src/lib/components/__tests__/AccountLinking.test.ts
  frontend/src/lib/components/__tests__/ArtistDiscographyRevenue.test.ts
  frontend/src/lib/components/__tests__/CategoryRevenueBreakdown.test.ts
  frontend/src/lib/components/__tests__/LoginForm.test.ts
  frontend/src/lib/components/__tests__/OAuthCallback.test.ts
  frontend/src/lib/components/__tests__/RegisterForm.test.ts
  frontend/src/lib/components/__tests__/SocialLoginButtons.test.ts
  frontend/src/lib/components/__tests__/auth-components.test.ts
  frontend/src/lib/components/__tests__/oauth-integration.test.ts
  frontend/src/lib/styles/__tests__/ux-consistency.test.ts
  frontend/src/lib/utils/musickit.ts
  frontend/src/lib/utils/simple-router.ts
Due: typescript-check

style: apply cargo fmt to fix formatting
  backend/src/handlers/analytics_v2.rs
  backend/src/middleware/auth.rs
  backend/src/services/user.rs
Due: cargo-fmt, cargo-clippy, cargo-check

ci: fix PR validation workflow permissions and dependency review
  .github/workflows/pr-validation.yml
Due: none

feat: local registry + host-native builds for reliable tilt up
  .gitignore
  Tiltfile
  backend/Dockerfile.runtime
  frontend/Dockerfile.runtime
  k8s/dev-manifests.yaml
  scripts/setup-registry.sh
  scripts/tilt-build.sh
Due: kubeval

feat: frontend redesign with dual-theme design system and UX fixes
  frontend/public/build/bundle.css
  frontend/public/build/bundle.js
  frontend/public/build/bundle.js.map
  frontend/public/global.css
  frontend/public/index.html
  frontend/src/App.svelte
  frontend/src/app.css
  frontend/src/lib/components/ArtistSearchBar.svelte
  frontend/src/lib/components/BlockedArtistCard.svelte
  frontend/src/lib/components/BlocklistPage.svelte
  frontend/src/lib/components/Home.svelte
  frontend/src/lib/components/Layout.svelte
  frontend/src/lib/components/Settings.svelte
  frontend/src/lib/stores/theme.ts
  frontend/src/lib/styles/unified-design-system.css
Due: typescript-check

fix: improve dark theme readability and replace emoji icons with SVGs
  frontend/public/build/bundle.css
  frontend/public/build/bundle.js
  frontend/public/build/bundle.js.map
  frontend/src/lib/components/AnalyticsDashboard.svelte
  frontend/src/lib/components/Dashboard.svelte
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/styles/unified-design-system.css
Due: typescript-check

fix: improve offense card UI readability and visual polish
  frontend/public/build/bundle.css
  frontend/public/build/bundle.js
  frontend/public/build/bundle.js.map
  frontend/src/lib/components/ArtistProfile.svelte
  frontend/src/lib/stores/artist.ts
  frontend/src/lib/styles/unified-design-system.css
Due: typescript-check

fix: navigation, theme initialization, and block button color
  frontend/src/App.svelte
  frontend/src/lib/components/ArtistProfile.svelte
  frontend/src/lib/components/Layout.svelte
  frontend/src/lib/components/SimpleNavigation.svelte
Due: typescript-check

fix: add optional chaining to prevent null access errors
  frontend/src/lib/components/AnalyticsDashboard.svelte
  frontend/src/lib/components/ArtistProfile.svelte
  frontend/src/lib/components/DnpEntry.svelte
  frontend/src/lib/components/DnpManager.svelte
Due: typescript-check

fix: add null guards to prevent component crashes on navigation
  frontend/src/lib/components/ActionHistory.svelte
  frontend/src/lib/components/ArtistSearch.svelte
  frontend/src/lib/components/CommunityListDetail.svelte
  frontend/src/lib/components/GraphExplorer.svelte
  frontend/src/lib/components/Home.svelte
  frontend/src/lib/components/SyncDashboard.svelte
Due: typescript-check

fix: add optional chaining for systemHealth.databases access
  frontend/src/lib/components/AnalyticsDashboard.svelte
Due: typescript-check

fix: validate API response is array before calling map in loadDnpList
  frontend/src/lib/components/Home.svelte
Due: typescript-check

fix: hide System Health section from user-facing analytics dashboard
  frontend/src/lib/components/AnalyticsDashboard.svelte
Due: typescript-check

feat(spotify): Migrate to February 2026 API changes
  backend/src/handlers/spotify_enforcement.rs
  backend/src/models/spotify.rs
  backend/src/services/catalog_sync/spotify.rs
  backend/src/services/enforcement_job_handler.rs
  backend/src/services/spotify.rs
  backend/tests/end_to_end_workflow_tests.rs
  backend/tests/provider_sandbox_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(frontend): improve login screen ux
  frontend/src/lib/components/Login.svelte
Due: typescript-check

fix(frontend): resolve production auth api base
  frontend/rollup.config.js
  frontend/src/lib/utils/api-client.ts
  frontend/src/lib/utils/config.ts
Due: typescript-check

fix(frontend): tighten auth sizing and restore branding
  frontend/src/lib/components/Home.svelte
  frontend/src/lib/components/Layout.svelte
  frontend/src/lib/components/Login.svelte
Due: typescript-check

fix(frontend): align dashboard with auth branding
  frontend/src/lib/components/Home.svelte
  frontend/src/lib/components/Layout.svelte
Due: typescript-check

feat(frontend): unify branded app surfaces
  frontend/rollup.config.js
  frontend/src/App.svelte
  frontend/src/app.css
  frontend/src/lib/components/AnalyticsDashboard.svelte
  frontend/src/lib/components/ArtistProfile.svelte
  frontend/src/lib/components/CommunityLists.svelte
  frontend/src/lib/components/ConnectionsPage.svelte
  frontend/src/lib/components/GraphExplorer.svelte
  frontend/src/lib/components/Home.svelte
  frontend/src/lib/components/Layout.svelte
  frontend/src/lib/components/LibraryScan.svelte
  frontend/src/lib/components/Login.svelte
  frontend/src/lib/components/OffenseDatabase.svelte
  frontend/src/lib/components/ServiceHealthDashboard.svelte
  frontend/src/lib/components/Settings.svelte
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/components/ui/ArtistCard.svelte
  frontend/src/lib/components/ui/Breadcrumb.svelte
  frontend/src/lib/components/ui/Button.svelte
  frontend/src/lib/components/ui/Card.svelte
  frontend/src/lib/components/ui/CardHeader.svelte
  frontend/src/lib/components/ui/ConfidenceMeter.svelte
  frontend/src/lib/components/ui/FormError.svelte
  frontend/src/lib/components/ui/Skeleton.svelte
  frontend/src/lib/components/ui/SourceTierBadge.svelte
  frontend/src/lib/components/ui/StatCard.svelte
  frontend/src/lib/components/ui/StatusBadge.svelte
  frontend/src/lib/components/ui/index.ts
  frontend/src/lib/utils/config.ts
Due: typescript-check

fix(frontend): harden routed app surfaces
  frontend/src/lib/components/AnalyticsDashboard.svelte
  frontend/src/lib/components/ArtistProfile.svelte
  frontend/src/lib/components/Home.svelte
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/components/ui/Breadcrumb.svelte
  frontend/src/lib/stores/analytics.ts
  frontend/src/lib/stores/connections.ts
  frontend/src/lib/utils/simple-router.ts
Due: typescript-check

fix(frontend): tighten library and analytics surfaces
  frontend/public/build/bundle.css
  frontend/public/build/bundle.js
  frontend/public/build/bundle.js.map
  frontend/src/lib/components/AnalyticsDashboard.svelte
  frontend/src/lib/components/Layout.svelte
  frontend/src/lib/components/SyncDashboard.svelte
Due: typescript-check

feat(render): add blueprint and deployment workflow
  .github/workflows/render-backend-image.yml
  docs/deployment/render.md
  frontend/Dockerfile.render
  frontend/nginx-render.conf.template
  frontend/render-entrypoint.sh
  render.yaml
  scripts/publish-render-backend-image.sh
  scripts/render-smoke-test.sh
Due: none

fix(render): bind backend listener before startup init
  backend/src/main.rs
  render.yaml
Due: cargo-fmt, cargo-clippy, cargo-check

fix(ci): stop referencing secrets in workflow if
  .github/workflows/render-backend-image.yml
Due: none

chore(ci): publish render backend image to ghcr
  .github/workflows/render-backend-image.yml
  docs/deployment/render.md
  render.yaml
  scripts/publish-render-backend-image.sh
Due: none

fix(build): update backend docker rust toolchain
  backend/Dockerfile
Due: none

fix(build): install protoc for backend image
  backend/Dockerfile
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  cargo-check: any of: \.rs$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  typescript-check: any of: \.(ts|svelte)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  kubeval: any of: (k8s/.*\.yaml|helm/templates/.*\.yaml)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

