Repository kcirtapfromspace/no_drake_in_the_house: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, typescript-check, kubeval

.pre-commit-config.yaml:

# Pre-commit hooks for No Drake in the House
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in Kubernetes manifests
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: cargo fmt
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all', '--', '--check']

      - id: cargo-clippy
        name: Cargo Clippy
        entry: cargo clippy
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features', '--', '-D', 'warnings']

      - id: cargo-check
        name: Cargo Check
        entry: cargo check
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features']

  # Frontend formatting and linting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: '\.(js|ts|svelte|json|css|md|yaml|yml)$'
        exclude: '(package-lock\.json|\.lock|target/|node_modules/|\.git/)'
        args: ['--write']

  # TypeScript checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd frontend && npm run check'
        language: system
        files: '\.(ts|svelte)$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '(package-lock\.json|Cargo\.lock|\.env\.example)'

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008', '--ignore', 'DL3009']

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']  # Ignore sourcing files that may not exist

  # Kubernetes manifest validation
  - repo: local
    hooks:
      - id: kubeval
        name: Kubernetes Manifest Validation
        entry: bash -c 'if command -v kubeval >/dev/null 2>&1; then find k8s helm/templates -name "*.yaml" -exec kubeval {} \; || true; fi'
        language: system
        files: '(k8s/.*\.yaml|helm/templates/.*\.yaml)$'
        pass_filenames: false

  # SQL formatting (if sqlfluff is available)
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.3.5
    hooks:
      - id: sqlfluff-lint
        files: '\.sql$'
        args: ['--dialect', 'postgres']
      - id: sqlfluff-fix
        files: '\.sql$'
        args: ['--dialect', 'postgres']

# Configuration for specific tools
default_language_version:
  python: python3.11
  node: '18.19.0'

# Global excludes
exclude: |
  (?x)^(
    .*\.lock$|
    .*\.log$|
    target/.*|
    node_modules/.*|
    \.git/.*|
    \.vscode/.*|
    \.idea/.*|
    backend/target/.*|
    frontend/node_modules/.*|
    frontend/build/.*|
    frontend/public/build/.*
  )$

# Fail fast - stop on first failure
fail_fast: false

# Minimum pre-commit version
minimum_pre_commit_version: '3.0.0'

fix: correct OAuth test selectors for Settings.svelte structure
  frontend/e2e/auth.spec.ts
  frontend/e2e/home.spec.ts
  frontend/e2e/mobile.spec.ts
  frontend/e2e/oauth-spotify.spec.ts
  frontend/e2e/oauth-tidal.spec.ts
  frontend/e2e/oauth-youtube.spec.ts
Due: typescript-check

fix: block Apple Music CDN + fix strict mode violations in E2E tests
  frontend/e2e/auth.spec.ts
  frontend/e2e/fixtures.ts
  frontend/e2e/oauth-spotify.spec.ts
  frontend/e2e/oauth-tidal.spec.ts
Due: typescript-check

fix: stub window.MusicKit to prevent CDN hangs in E2E tests
  frontend/e2e/fixtures.ts
  frontend/e2e/oauth-spotify.spec.ts
Due: typescript-check

fix: mock Apple Music developer-token endpoint in E2E tests
  frontend/e2e/fixtures.ts
Due: typescript-check

test: skip Settings connection status E2E tests (MusicKit timing)
  frontend/e2e/oauth-spotify.spec.ts
  frontend/e2e/oauth-tidal.spec.ts
  frontend/e2e/oauth-youtube.spec.ts
Due: typescript-check

fix: make login loading state test resilient across browsers
  frontend/e2e/auth.spec.ts
Due: typescript-check

fix: artist profile CSS, analytics de-clutter, sanitizer as library action
  frontend/src/app.css
  frontend/src/lib/components/AnalyticsDashboard.svelte
  frontend/src/lib/components/ArtistProfile.svelte
  frontend/src/lib/components/Layout.svelte
  frontend/src/lib/components/SyncDashboard.svelte
Due: typescript-check

fix: redesign Full Catalog, Revenue, and Credits tabs
  frontend/src/app.css
  frontend/src/lib/components/ArtistDiscographyRevenue.svelte
  frontend/src/lib/components/ArtistProfile.svelte
Due: typescript-check

fix: update revenue tests to match redesigned UI
  frontend/src/lib/components/__tests__/ArtistDiscographyRevenue.test.ts
Due: typescript-check

style: replace hard borders with glass surface panels on artist page
  frontend/src/lib/components/ArtistDiscographyRevenue.svelte
  frontend/src/lib/components/ArtistProfile.svelte
Due: typescript-check

style: fix artist page alignment and redesign tabs to underline style
  frontend/src/lib/components/ArtistDiscographyRevenue.svelte
  frontend/src/lib/components/ArtistProfile.svelte
Due: typescript-check

style: remove hard borders, clean up buttons and table layouts
  frontend/src/lib/components/ArtistProfile.svelte
Due: typescript-check

refactor: complete rewrite of evidence, catalog, and credits tab layouts
  frontend/src/lib/components/ArtistProfile.svelte
Due: typescript-check

feat: premium UX rewrite of artist page with design token migration
  frontend/src/app.css
  frontend/src/lib/components/ArtistDiscographyRevenue.svelte
  frontend/src/lib/components/ArtistProfile.svelte
Due: typescript-check

feat: ground-up redesign of all 5 artist page tab interiors
  frontend/src/lib/components/ArtistDiscographyRevenue.svelte
  frontend/src/lib/components/ArtistProfile.svelte
Due: typescript-check

fix: stop hero stat cards from stretching to full column height
  frontend/src/lib/components/Home.svelte
Due: typescript-check

feat: library scan caching, sanitizer card, and dense expandable rows
  frontend/src/lib/components/LibraryScan.svelte
  frontend/src/lib/convex/bridge.ts
  frontend/src/lib/stores/library.ts
Due: typescript-check

fix: add convexAction export to client.ts for bridge imports
  frontend/src/lib/convex/client.ts
Due: typescript-check

fix: search dropdown clipping and excess hero-search spacing
  frontend/src/lib/components/Home.svelte
Due: typescript-check

feat: playlist browser with cards, tracklist, grading, and sanitize flow
  convex/analytics.ts
  convex/appleMusic.ts
  convex/artistProfile.ts
  convex/community.ts
  convex/dnp.ts
  convex/enforcement.ts
  convex/http.ts
  convex/library.ts
  convex/offenses.ts
  convex/providerOAuth.ts
  convex/sanitizer.ts
  convex/signing.ts
  convex/sync.ts
  frontend/src/lib/components/Layout.svelte
  frontend/src/lib/components/PlaylistCard.svelte
  frontend/src/lib/components/PlaylistSanitizer.svelte
  frontend/src/lib/components/PlaylistTracklist.svelte
  frontend/src/lib/convex/bridge.ts
  frontend/src/lib/stores/community.ts
  frontend/src/lib/stores/enforcement.ts
  frontend/src/lib/stores/playlist-browser.ts
  frontend/src/lib/stores/sanitizer.ts
  frontend/src/lib/utils/simple-router.ts
Due: typescript-check

fix: resolve Convex deploy TS errors across 6 files
  convex/analytics.ts
  convex/enforcement.ts
  convex/library.ts
  convex/providerOAuth.ts
  convex/sanitizer.ts
  convex/sync.ts
Due: typescript-check

feat: add playlist browser endpoints to Rust backend
  backend/src/handlers/offense.rs
  backend/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: playlist browser UX overhaul with album art and premium design
  backend/src/handlers/offense.rs
  frontend/src/lib/components/PlaylistCard.svelte
  frontend/src/lib/components/PlaylistSanitizer.svelte
  frontend/src/lib/components/PlaylistTracklist.svelte
  frontend/src/lib/stores/playlist-browser.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

feat: complete Spotify integration — enforcement, rollback, OAuth, and sanitizer
  backend/crates/ndith-services/src/spotify.rs
  backend/crates/ndith-services/src/spotify_enforcement.rs
  backend/src/handlers/spotify_enforcement.rs
  convex/enforcement.ts
  convex/providerOAuth.ts
  convex/sanitizer.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix: force Spotify consent screen to allow account switching
  backend/crates/ndith-services/src/oauth_spotify.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: defer OAuth state deletion until after connection is stored
  backend/src/handlers/spotify_connection.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: disable retry on Spotify OAuth callback to prevent invalid_grant
  frontend/src/lib/stores/connections.ts
Due: typescript-check

fix: make user info fetch non-fatal during Spotify OAuth callback
  backend/src/handlers/spotify_connection.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: add Retry-After backoff to Spotify library sync API calls
  backend/src/handlers/spotify_connection.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: cap Spotify rate limit wait at 60s and fail fast on long bans
  backend/src/handlers/spotify_connection.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: add Spotify rate limit compliance across all API call sites
  backend/crates/ndith-services/src/catalog_sync/spotify.rs
  backend/crates/ndith-services/src/oauth_spotify.rs
  backend/crates/ndith-services/src/playlist_sanitizer.rs
  backend/crates/ndith-services/src/spotify.rs
  backend/crates/ndith-services/src/spotify_library.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: add 429/Retry-After rate limit handling to all external API calls
  backend/crates/ndith-news/src/news_pipeline/ingestion/newsapi_client.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/reddit_monitor.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/rss_fetcher.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/twitter_monitor.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/web_scraper.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/web_search.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/wikipedia_client.rs
  backend/crates/ndith-news/src/news_pipeline/processing/llm_client.rs
  backend/crates/ndith-services/src/catalog_sync/deezer.rs
  backend/crates/ndith-services/src/catalog_sync/youtube_music.rs
  backend/crates/ndith-services/src/oauth_apple.rs
  backend/crates/ndith-services/src/oauth_github.rs
  backend/crates/ndith-services/src/oauth_google.rs
  backend/crates/ndith-services/src/youtube_music_enforcement.rs
  backend/crates/ndith-services/src/youtube_music_library.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: polish playlist UI with glow effects, animations, and visual depth
  frontend/src/lib/components/PlaylistCard.svelte
  frontend/src/lib/components/PlaylistGradeGauge.svelte
  frontend/src/lib/components/PlaylistSanitizer.svelte
  frontend/src/lib/components/PlaylistTracklist.svelte
  frontend/src/lib/components/ReplacementPicker.svelte
Due: typescript-check

ci: add Render frontend deploy step after CI passes
  .github/workflows/ci.yml
Due: none

fix: remove BuildKit cache mount from Dockerfile.render
  .github/workflows/ci.yml
  frontend/Dockerfile.render
Due: none

ci: remove autoDeployTrigger from frontend Render service
  render.yaml
Due: none

chore: trigger frontend deploy with build marker
  frontend/public/index.html
Due: none

ci: build frontend image in GitHub Actions, not Render
  .github/workflows/ci.yml
  .github/workflows/render-frontend-image.yml
  render.yaml
Due: none

fix: handle Render deploy for both docker and image service modes
  .github/workflows/render-frontend-image.yml
Due: none

feat: add normalized playlist tables with TDD repository
  backend/crates/ndith-core/src/models/mod.rs
  backend/crates/ndith-core/src/models/playlist.rs
  backend/crates/ndith-services/src/lib.rs
  backend/crates/ndith-services/src/playlist_repository.rs
  backend/migrations/039_normalized_playlists.sql
  backend/tests/playlist_repository_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check
