Repository kcirtapfromspace/no_drake_in_the_house: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, typescript-check, kubeval

.pre-commit-config.yaml:

# Pre-commit hooks for No Drake in the House
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in Kubernetes manifests
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: cargo fmt
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all', '--', '--check']

      - id: cargo-clippy
        name: Cargo Clippy
        entry: cargo clippy
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features', '--', '-D', 'warnings']

      - id: cargo-check
        name: Cargo Check
        entry: cargo check
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features']

  # Frontend formatting and linting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: '\.(js|ts|svelte|json|css|md|yaml|yml)$'
        exclude: '(package-lock\.json|\.lock|target/|node_modules/|\.git/)'
        args: ['--write']

  # TypeScript checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd frontend && npm run check'
        language: system
        files: '\.(ts|svelte)$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '(package-lock\.json|Cargo\.lock|\.env\.example)'

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008', '--ignore', 'DL3009']

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']  # Ignore sourcing files that may not exist

  # Kubernetes manifest validation
  - repo: local
    hooks:
      - id: kubeval
        name: Kubernetes Manifest Validation
        entry: bash -c 'if command -v kubeval >/dev/null 2>&1; then find k8s helm/templates -name "*.yaml" -exec kubeval {} \; || true; fi'
        language: system
        files: '(k8s/.*\.yaml|helm/templates/.*\.yaml)$'
        pass_filenames: false

  # SQL formatting (if sqlfluff is available)
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.3.5
    hooks:
      - id: sqlfluff-lint
        files: '\.sql$'
        args: ['--dialect', 'postgres']
      - id: sqlfluff-fix
        files: '\.sql$'
        args: ['--dialect', 'postgres']

# Configuration for specific tools
default_language_version:
  python: python3.11
  node: '18.19.0'

# Global excludes
exclude: |
  (?x)^(
    .*\.lock$|
    .*\.log$|
    target/.*|
    node_modules/.*|
    \.git/.*|
    \.vscode/.*|
    \.idea/.*|
    backend/target/.*|
    frontend/node_modules/.*|
    frontend/build/.*|
    frontend/public/build/.*
  )$

# Fail fast - stop on first failure
fail_fast: false

# Minimum pre-commit version
minimum_pre_commit_version: '3.0.0'

fix: resolve Convex read-limit criticals, missing evidence, and category mismatches
  convex/artistProfile.ts
  convex/catalogResolver.ts
  convex/categories.ts
  convex/evidenceFinder.ts
  convex/offensePipeline.ts
Due: typescript-check

fix: repair broken evidence links and malformed archive URLs
  convex/offenses.ts
  frontend/src/lib/utils/link-validator.ts
Due: typescript-check

fix: pass provider param to resolveTrackArtists after signature change
  convex/librarySyncActions.ts
Due: typescript-check

fix: split listPlaylists by provider to stay within read limits
  convex/library.ts
Due: typescript-check

fix: include offense_count and mentions in analytics trend queries
  convex/analytics.ts
Due: typescript-check

fix: delete misattributed offenses, strip HTML from pipeline output
  backend/crates/ndith-news/src/news_pipeline/offense_creator.rs
  convex/offenses.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

perf: add by_lastInvestigatedAt index to avoid full artists table scan
  convex/evidenceFinder.ts
  convex/schema.ts
Due: typescript-check

feat: replace Brave Search with Firecrawl for artist research
  backend/crates/ndith-news/src/news_pipeline/autoresearch.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/web_search.rs
  backend/src/handlers/news.rs
  render.yaml
Due: cargo-fmt, cargo-clippy, cargo-check

feat: evidence contest & verification system (US-001 through US-006)
  backend/crates/ndith-news/src/news_pipeline/processing/offense_classifier.rs
  convex/artistProfile.ts
  convex/evidenceVerifier.ts
  convex/evidenceVerifierHelpers.ts
  convex/offenses.ts
  convex/schema.ts
  frontend/src/lib/components/ArtistProfile.svelte
  frontend/src/lib/convex/bridge.ts
  frontend/src/lib/stores/artist.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix(release): add Apple Music readiness guard
  backend/.env.example
  backend/src/lib.rs
  backend/src/runtime.rs
  docs/deployment/production-deployment.md
  helm/templates/secrets.yaml
  helm/values.yaml
  k8s/api-deployment.yaml
  k8s/configmap.yaml
  k8s/health-checks.yaml
  k8s/minikube/api-deployment.yaml
  k8s/minikube/configmap.yaml
  k8s/minikube/secrets.yaml
  k8s/secrets.yaml
  k8s/worker-deployment.yaml
Due: cargo-fmt, cargo-clippy, cargo-check, kubeval

ci(oauth): add deterministic OAuth release gate (NOD-165)
  .github/workflows/oauth-release-gate.yml
  docs/release/oauth-release-gate.md
  scripts/fixtures/oauth-metrics-fail.json
  scripts/fixtures/oauth-metrics-pass.json
  scripts/oauth-release-gate.sh
Due: none

feat(probes): land OAuth synthetic probe runner from NOD-184
  docs/evidence/oauth-synthetic-probes/latest.json
  docs/evidence/oauth-synthetic-probes/latest.md
  docs/evidence/oauth-synthetic-probes/latest.ndjson
  scripts/oauth-probes/README.md
  scripts/oauth-probes/definitions.json
  scripts/oauth-probes/run.mjs
Due: none

feat(probes): wire scheduled execution for OAuth synthetic probes (NOD-185)
  convex/crons.ts
  convex/oauthSyntheticProbes.ts
  package.json
  scripts/oauth-probes/README.md
Due: typescript-check

fix(probes): unify CLI/Convex source and make probe status classifier-driven (NOD-186)
  convex/_generated/api.d.ts
  convex/_generated/api.ts
  convex/lib/oauthSyntheticProbes.ts
  convex/oauthSyntheticProbes.test.ts
  convex/oauthSyntheticProbes.ts
  convex/schema.ts
  docs/evidence/oauth-synthetic-probes/latest.json
  docs/evidence/oauth-synthetic-probes/latest.md
  docs/evidence/oauth-synthetic-probes/latest.ndjson
  package.json
  scripts/oauth-probes/README.md
  scripts/oauth-probes/definitions.json
  scripts/oauth-probes/run.mjs
  scripts/oauth-probes/run.ts
Due: typescript-check

feat(deploy): provision persistent DuckDB runtime storage (NOD-196)
  backend/src/runtime.rs
  docs/release/duckdb-storage-runbook.md
  helm/templates/backend-deployment.yaml
  helm/templates/duckdb-pvc.yaml
  helm/values-production.yaml
  helm/values.yaml
  k8s/api-deployment.yaml
  k8s/configmap.yaml
  k8s/duckdb-pvc.yaml
Due: cargo-fmt, cargo-clippy, cargo-check, kubeval

ci(probes): scheduled execution for OAuth synthetic probes (NOD-185) (#32)
  convex/_generated/api.d.ts
  convex/_generated/api.ts
  convex/crons.ts
  convex/lib/oauthSyntheticProbes.ts
  convex/oauthSyntheticProbes.test.ts
  convex/oauthSyntheticProbes.ts
  convex/schema.ts
  docs/evidence/oauth-synthetic-probes/latest.json
  docs/evidence/oauth-synthetic-probes/latest.md
  docs/evidence/oauth-synthetic-probes/latest.ndjson
  package.json
  scripts/oauth-probes/README.md
  scripts/oauth-probes/run.ts
Due: typescript-check

docs(ops): add PR Manager stale queue drain runbook (NOD-227)
  docs/pr-manager-stale-queue-runbook.md
  tasks/nod-221-pr-manager-runtime-stabilization.md
Due: none

feat(frontend): add spotify post-connect guidance canary
  docs/developers/spotify-post-connect-guidance-canary.md
  frontend/.env.example
  frontend/src/lib/components/OAuthCallback.svelte
  frontend/src/lib/components/ServiceConnector.svelte
  frontend/src/lib/components/Settings.svelte
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/stores/connections.ts
  frontend/src/lib/utils/__tests__/oauth-state.test.ts
  frontend/src/lib/utils/__tests__/post-connect-guidance.test.ts
  frontend/src/lib/utils/config.ts
  frontend/src/lib/utils/oauth-state.ts
  frontend/src/lib/utils/post-connect-guidance.ts
Due: typescript-check

fix(ci): apply rustfmt for backend quality check
  backend/crates/ndith-core/src/models/auth.rs
  backend/crates/ndith-news/src/convex_client.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/web_search.rs
  backend/crates/ndith-news/src/news_pipeline/processing/offense_classifier.rs
  backend/crates/ndith-news/src/news_pipeline/repository.rs
  backend/crates/ndith-services/src/auth.rs
  backend/src/runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check

test(e2e): stabilize auth fixtures for oauth settings flows
  frontend/e2e/fixtures.ts
  frontend/e2e/oauth-spotify.spec.ts
  frontend/e2e/oauth-tidal.spec.ts
  frontend/e2e/oauth-youtube.spec.ts
Due: typescript-check

fix(ci): clear PR33 frontend and secret-scan blockers
  frontend/e2e/fixtures.ts
  frontend/e2e/oauth-spotify.spec.ts
  frontend/e2e/oauth-tidal.spec.ts
  frontend/e2e/oauth-youtube.spec.ts
  frontend/src/lib/components/ArtistDiscographyRevenue.svelte
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/components/__tests__/ArtistDiscographyRevenue.test.ts
  frontend/src/lib/stores/__tests__/connections.test.ts
  frontend/src/lib/utils/__tests__/link-validator.test.ts
Due: typescript-check

chore(ci): ignore historical mock JWT fingerprints
  .gitleaksignore
Due: none

fix(backend): satisfy rust quality clippy gates
  backend/crates/ndith-db/src/recovery.rs
  backend/crates/ndith-services/src/catalog_sync/musicbrainz.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(backend): resolve remaining rust quality lint gates
  backend/crates/ndith-news/src/news_pipeline/processing/offense_classifier.rs
  backend/src/handlers/dnp.rs
  backend/src/lib.rs
  backend/src/middleware/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(backend): restore scoped analytics router helper
  backend/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(ops): operator probe lane (NOD-237)
  .github/workflows/operator-probe.yml
  backend/migrations/044_operator_probe_lane.sql
  docs/operator-probe-lane.md
  scripts/audit-log-schema-probe.sh
  scripts/operator-probe-runner.sh
  scripts/operator-probes/audit-log-health.sh
Due: none

chore(ci): satisfy newer clippy lints in quality job
  backend/crates/ndith-db/src/recovery.rs
  backend/crates/ndith-services/src/catalog_sync/musicbrainz.rs
Due: cargo-fmt, cargo-clippy, cargo-check

chore(ci): fix rust-1.95 clippy strictness
  backend/src/handlers/dnp.rs
  backend/src/lib.rs
  backend/src/middleware/security.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(e2e): restore auth bootstrap in mocks
  frontend/e2e/fixtures.ts
  frontend/e2e/home.spec.ts
  frontend/e2e/oauth-spotify.spec.ts
  frontend/e2e/oauth-tidal.spec.ts
  frontend/e2e/oauth-youtube.spec.ts
Due: typescript-check

test(e2e): align tidal authorize mock route
  frontend/e2e/oauth-tidal.spec.ts
Due: typescript-check

fix(audit): align PR33 with schema compat
  backend/crates/ndith-services/src/auth.rs
  backend/crates/ndith-services/src/user.rs
  backend/migrations/009_oauth_accounts.sql
  backend/migrations/044_audit_log_oauth_trigger_compat.sql
  backend/src/handlers/analytics_v2.rs
  backend/tests/audit_log_auth_flow_compat_test.rs
  package.json
  scripts/audit-log-schema-probe.sh
  scripts/oauth-probes/definitions.json
  scripts/oauth-probes/run.mjs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(helm): enforce prod read-only rootfs
  docs/release/duckdb-storage-proof-2026-04-29.md
  helm/values-production.yaml
Due: none

docs(release): add QA validation report for NOD-196 DuckDB storage
  docs/release/duckdb-storage-qa-2026-04-29.md
Due: none

test(runtime): cover ensure_duckdb_storage_ready write-probe failure (NOD-248)
  backend/src/runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check

docs(release): add runtime-mismatch scope caveat to NOD-196 QA report
  docs/release/duckdb-storage-qa-2026-04-29.md
Due: none

feat(render): persist DuckDB analytics on Render disk (NOD-252)
  docs/release/duckdb-render-disk-runbook.md
  render.yaml
Due: none
