Repository kcirtapfromspace/no_drake_in_the_house: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, typescript-check, kubeval

.pre-commit-config.yaml:

# Pre-commit hooks for No Drake in the House
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in Kubernetes manifests
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: cargo fmt
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all', '--', '--check']

      - id: cargo-clippy
        name: Cargo Clippy
        entry: cargo clippy
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features', '--', '-D', 'warnings']

      - id: cargo-check
        name: Cargo Check
        entry: cargo check
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features']

  # Frontend formatting and linting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: '\.(js|ts|svelte|json|css|md|yaml|yml)$'
        exclude: '(package-lock\.json|\.lock|target/|node_modules/|\.git/)'
        args: ['--write']

  # TypeScript checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd frontend && npm run check'
        language: system
        files: '\.(ts|svelte)$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '(package-lock\.json|Cargo\.lock|\.env\.example)'

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008', '--ignore', 'DL3009']

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']  # Ignore sourcing files that may not exist

  # Kubernetes manifest validation
  - repo: local
    hooks:
      - id: kubeval
        name: Kubernetes Manifest Validation
        entry: bash -c 'if command -v kubeval >/dev/null 2>&1; then find k8s helm/templates -name "*.yaml" -exec kubeval {} \; || true; fi'
        language: system
        files: '(k8s/.*\.yaml|helm/templates/.*\.yaml)$'
        pass_filenames: false

  # SQL formatting (if sqlfluff is available)
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.3.5
    hooks:
      - id: sqlfluff-lint
        files: '\.sql$'
        args: ['--dialect', 'postgres']
      - id: sqlfluff-fix
        files: '\.sql$'
        args: ['--dialect', 'postgres']

# Configuration for specific tools
default_language_version:
  python: python3.11
  node: '18.19.0'

# Global excludes
exclude: |
  (?x)^(
    .*\.lock$|
    .*\.log$|
    target/.*|
    node_modules/.*|
    \.git/.*|
    \.vscode/.*|
    \.idea/.*|
    backend/target/.*|
    frontend/node_modules/.*|
    frontend/build/.*|
    frontend/public/build/.*
  )$

# Fail fast - stop on first failure
fail_fast: false

# Minimum pre-commit version
minimum_pre_commit_version: '3.0.0'

Harden connection status fetching
  frontend/src/lib/stores/__tests__/connections.test.ts
  frontend/src/lib/stores/connections.ts
Due: typescript-check

Fix render startup offense index migrations
  backend/migrations/042_offense_query_artist_name_index.sql
  backend/migrations/043_offense_query_user_artist_index.sql
Due: none

Stabilize playlist inventory persistence
  backend/crates/ndith-services/src/playlist_repository.rs
  backend/src/handlers/apple_music_auth.rs
  backend/src/handlers/spotify_connection.rs
  backend/src/handlers/tidal_connection.rs
  backend/src/handlers/youtube_connection.rs
  backend/tests/playlist_repository_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Handle more Spotify playlist item types
  backend/src/handlers/spotify_connection.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Repair provider OAuth configuration handling
  backend/.env.example
  backend/crates/ndith-core/src/config.rs
  backend/crates/ndith-services/src/oauth_config_validator.rs
  backend/crates/ndith-services/src/oauth_spotify.rs
  backend/crates/ndith-services/src/oauth_youtube_music.rs
  backend/crates/ndith-services/src/token_vault.rs
  backend/src/handlers/spotify_connection.rs
  backend/src/handlers/youtube_connection.rs
  frontend/src/lib/components/ServiceConnector.svelte
  render.yaml
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

feat: complete Spotify blocklist integration
  convex/dnp.test.ts
  convex/dnp.ts
  convex/enforcement.ts
Due: typescript-check

fix: harden CI/CD pipeline and remove unused deployment configs
  .github/workflows/ci.yml
  .github/workflows/release.yml
  TROUBLESHOOTING_GUIDE.md
  backend/fly.toml
  docker-compose.yml
  frontend/Dockerfile.fly
  frontend/Dockerfile.k8s
  frontend/fly.toml
  frontend/nginx-fly.conf
Due: none

fix: add stripe dependency for Convex deploy
  package-lock.json
  package.json
Due: none

feat: add uptime monitoring workflow for production site
  .github/workflows/uptime-monitor.yml
Due: none

Migrate key components to unified design system tokens
  frontend/src/lib/components/BlockingToasts.svelte
  frontend/src/lib/components/ConnectionCard.svelte
  frontend/src/lib/components/Home.svelte
  frontend/src/lib/components/Layout.svelte
  frontend/src/lib/components/SimpleNavigation.svelte
  frontend/src/lib/styles/unified-design-system.css
Due: typescript-check

Complete design system token compliance across all key components
  frontend/src/lib/components/ArtistSearchBar.svelte
  frontend/src/lib/components/BlockingToasts.svelte
  frontend/src/lib/components/Layout.svelte
  frontend/src/lib/components/ui/Button.svelte
  frontend/src/lib/styles/unified-design-system.css
Due: typescript-check

Eradicate hardcoded colors from all frontend components
  frontend/src/lib/components/AnalyticsDashboard.svelte
  frontend/src/lib/components/ArtistProfile.svelte
  frontend/src/lib/components/BlockedArtistCard.svelte
  frontend/src/lib/components/ConnectionCard.svelte
  frontend/src/lib/components/ConnectionsPage.svelte
  frontend/src/lib/components/Home.svelte
  frontend/src/lib/components/LibraryScan.svelte
  frontend/src/lib/components/Login.svelte
  frontend/src/lib/components/PlaylistSanitizer.svelte
  frontend/src/lib/components/ReplacementPicker.svelte
  frontend/src/lib/components/ServiceConnector.svelte
  frontend/src/lib/components/Settings.svelte
  frontend/src/lib/components/UserProfile.svelte
  frontend/src/lib/components/ui/ArtistCard.svelte
  frontend/src/lib/styles/unified-design-system.css
Due: typescript-check

Fix Spotify sync: route OAuth and sync through Convex bridge
  convex/providerOAuth.ts
  frontend/src/lib/components/OAuthCallback.svelte
  frontend/src/lib/components/__tests__/OAuthCallback.test.ts
  frontend/src/lib/convex/bridge.ts
  frontend/src/lib/stores/connections.ts
  frontend/src/lib/utils/oauth-callback.ts
Due: typescript-check

Fix a11y warnings and resolve all TypeScript errors in test files
  frontend/src/lib/components/BlockingToasts.svelte
  frontend/src/lib/components/PlaylistCard.svelte
  frontend/src/lib/components/__tests__/ArtistProfile.test.ts
  frontend/src/lib/components/__tests__/CategoryRevenueBreakdown.test.ts
  frontend/src/lib/components/__tests__/DnpManager.test.ts
  frontend/src/lib/components/__tests__/Home.test.ts
  frontend/src/lib/components/__tests__/LoginForm.test.ts
  frontend/src/lib/components/__tests__/enforcement-components.test.ts
  frontend/src/lib/styles/__tests__/ux-consistency.test.ts
  frontend/src/lib/utils/__tests__/link-validator.test.ts
Due: typescript-check

Resolve all 65 TypeScript errors across frontend components
  frontend/src/lib/components/AccountLinking.svelte
  frontend/src/lib/components/AnalyticsDashboard.svelte
  frontend/src/lib/components/ApiTest.svelte
  frontend/src/lib/components/ArtistDiscographyRevenue.svelte
  frontend/src/lib/components/ArtistProfile.svelte
  frontend/src/lib/components/ArtistSearch.svelte
  frontend/src/lib/components/ArtistSearchBar.svelte
  frontend/src/lib/components/BlockedArtistCard.svelte
  frontend/src/lib/components/CategoryRevenueBreakdown.svelte
  frontend/src/lib/components/CommunityListCard.svelte
  frontend/src/lib/components/CommunityListDetail.svelte
  frontend/src/lib/components/ConnectionsPage.svelte
  frontend/src/lib/components/Dashboard.svelte
  frontend/src/lib/components/DnpEntry.svelte
  frontend/src/lib/components/EnforcementBadges.svelte
  frontend/src/lib/components/Layout.svelte
  frontend/src/lib/components/LibraryScan.svelte
  frontend/src/lib/components/RevenueImpact.svelte
  frontend/src/lib/components/UserProfile.svelte
  frontend/src/lib/components/ui/ArtistCard.svelte
  frontend/src/lib/components/ui/Breadcrumb.svelte
Due: typescript-check

Extend design system tokens and complete Settings migration
  frontend/src/App.svelte
  frontend/src/lib/components/Home.svelte
  frontend/src/lib/components/Layout.svelte
  frontend/src/lib/components/Settings.svelte
  frontend/src/lib/styles/unified-design-system.css
Due: typescript-check

Fix Stripe package resolution for Convex deploy
  convex/stripe.test.ts
  convex/stripeActions.ts
  convex/subscriptions.ts
  frontend/src/lib/stores/billing.ts
  package-lock.json
  package.json
Due: typescript-check

Add missing schema tables and exclude tests from Convex typecheck
  convex/schema.ts
  convex/tsconfig.json
Due: typescript-check

feat: add uptime monitoring workflow for production site (#22)
  .github/workflows/uptime-monitor.yml
Due: none

fix: resolve all frontend TypeScript errors failing CI
  frontend/src/lib/components/ArtistProfile.svelte
  frontend/src/lib/components/ArtistSearchBar.svelte
  frontend/src/lib/components/DnpEntry.svelte
  frontend/src/lib/components/LibraryScan.svelte
  frontend/src/lib/components/__tests__/ArtistProfile.test.ts
  frontend/src/lib/components/__tests__/CategoryRevenueBreakdown.test.ts
  frontend/src/lib/components/__tests__/DnpManager.test.ts
  frontend/src/lib/components/__tests__/Home.test.ts
  frontend/src/lib/components/__tests__/LoginForm.test.ts
  frontend/src/lib/components/ui/Breadcrumb.svelte
  frontend/src/lib/styles/__tests__/ux-consistency.test.ts
  frontend/src/lib/utils/__tests__/link-validator.test.ts
Due: typescript-check

fix: route Spotify OAuth through Convex so library sync can access tokens
  convex/providerOAuth.ts
  frontend/src/lib/stores/connections.ts
  frontend/src/lib/utils/oauth-callback.ts
Due: typescript-check

fix: improve sync UX with progress indicators, distinct status states, and clearer modal
  convex/sync.ts
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/convex/bridge.ts
Due: typescript-check

fix: update OAuth callback tests to match new Convex routing endpoints
  frontend/src/lib/components/__tests__/OAuthCallback.test.ts
Due: typescript-check

fix: update E2E tests to match new Convex OAuth routing endpoints
  frontend/e2e/oauth-spotify.spec.ts
  frontend/e2e/oauth-tidal.spec.ts
  frontend/e2e/oauth-youtube.spec.ts
Due: typescript-check

fix: route Spotify OAuth through Convex for library sync (#23)
  convex/providerOAuth.ts
  frontend/e2e/oauth-spotify.spec.ts
  frontend/e2e/oauth-tidal.spec.ts
  frontend/e2e/oauth-youtube.spec.ts
  frontend/src/lib/components/__tests__/OAuthCallback.test.ts
  frontend/src/lib/stores/connections.ts
  frontend/src/lib/utils/oauth-callback.ts
Due: typescript-check

fix: improve sync UX with progress indicators and distinct status states (#24)
  convex/sync.ts
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/convex/bridge.ts
Due: typescript-check

Fix all 49 Convex TypeScript errors across 15 backend files
  convex/_generated/api.d.ts
  convex/appleMusic.ts
  convex/billing.ts
  convex/community.ts
  convex/crons.ts
  convex/dnp.ts
  convex/enforcement.ts
  convex/evidenceFinder.ts
  convex/http.ts
  convex/library.ts
  convex/librarySyncActions.ts
  convex/offensePipeline.ts
  convex/offenses.ts
  convex/providerOAuth.ts
  convex/sanitizer.ts
  convex/stripeActions.ts
  package-lock.json
  package.json
  tsconfig.json
Due: typescript-check

Unify OAuth flows across all providers (Spotify, Tidal, YouTube)
  frontend/src/lib/components/ServiceConnections.svelte
  frontend/src/lib/components/Settings.svelte
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/stores/connections.ts
Due: typescript-check

Add cross-provider dedup query for library tracks
  convex/library.ts
Due: typescript-check

Remove Sync All modal popup — button now triggers sync directly
  frontend/src/lib/components/SyncDashboard.svelte
Due: typescript-check

Add ProviderIcon.svelte with SVG icons and stacking support
  frontend/src/lib/components/ProviderIcon.svelte
  frontend/src/lib/components/SyncDashboard.svelte
Due: typescript-check

Polish library table UX — typography, spacing, hover, columns
  frontend/src/lib/components/SyncDashboard.svelte
Due: typescript-check

Remove admin sync controls from AnalyticsDashboard
  frontend/src/lib/components/AnalyticsDashboard.svelte
Due: typescript-check

fix: resolve 4 clippy errors blocking CI on all open PRs
  backend/src/handlers/spotify_connection.rs
  backend/src/handlers/spotify_enforcement.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: resolve Render cold-start showing maintenance page to visitors
  .github/workflows/keep-alive.yml
  backend/src/lib.rs
  backend/src/monitoring.rs
  frontend/src/App.svelte
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check
