Repository kcirtapfromspace/no_drake_in_the_house: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, typescript-check, kubeval

.pre-commit-config.yaml:

# Pre-commit hooks for No Drake in the House
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in Kubernetes manifests
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: cargo fmt
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all', '--', '--check']

      - id: cargo-clippy
        name: Cargo Clippy
        entry: cargo clippy
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features', '--', '-D', 'warnings']

      - id: cargo-check
        name: Cargo Check
        entry: cargo check
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features']

  # Frontend formatting and linting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: '\.(js|ts|svelte|json|css|md|yaml|yml)$'
        exclude: '(package-lock\.json|\.lock|target/|node_modules/|\.git/)'
        args: ['--write']

  # TypeScript checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd frontend && npm run check'
        language: system
        files: '\.(ts|svelte)$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '(package-lock\.json|Cargo\.lock|\.env\.example)'

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008', '--ignore', 'DL3009']

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']  # Ignore sourcing files that may not exist

  # Kubernetes manifest validation
  - repo: local
    hooks:
      - id: kubeval
        name: Kubernetes Manifest Validation
        entry: bash -c 'if command -v kubeval >/dev/null 2>&1; then find k8s helm/templates -name "*.yaml" -exec kubeval {} \; || true; fi'
        language: system
        files: '(k8s/.*\.yaml|helm/templates/.*\.yaml)$'
        pass_filenames: false

  # SQL formatting (if sqlfluff is available)
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.3.5
    hooks:
      - id: sqlfluff-lint
        files: '\.sql$'
        args: ['--dialect', 'postgres']
      - id: sqlfluff-fix
        files: '\.sql$'
        args: ['--dialect', 'postgres']

# Configuration for specific tools
default_language_version:
  python: python3.11
  node: '18.19.0'

# Global excludes
exclude: |
  (?x)^(
    .*\.lock$|
    .*\.log$|
    target/.*|
    node_modules/.*|
    \.git/.*|
    \.vscode/.*|
    \.idea/.*|
    backend/target/.*|
    frontend/node_modules/.*|
    frontend/build/.*|
    frontend/public/build/.*
  )$

# Fail fast - stop on first failure
fail_fast: false

# Minimum pre-commit version
minimum_pre_commit_version: '3.0.0'

fix(oauth): restore render oauth config and deploy flow
  .github/workflows/render-backend-image.yml
  backend/crates/ndith-core/src/config.rs
  backend/crates/ndith-core/src/error.rs
  backend/crates/ndith-services/src/apple_music.rs
  backend/crates/ndith-services/src/oauth_spotify.rs
  backend/crates/ndith-services/src/oauth_youtube_music.rs
  backend/crates/ndith-services/src/tidal.rs
  backend/src/handlers/apple_music_auth.rs
  backend/src/handlers/spotify_connection.rs
  backend/src/handlers/tidal_connection.rs
  backend/src/handlers/youtube_connection.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(render): deploy backend as scoped microservices
  .github/workflows/render-backend-image.yml
  backend/Cargo.toml
  backend/src/backfill_orchestrator.rs
  backend/src/bin/ndith-analytics-service.rs
  backend/src/bin/ndith-graph-service.rs
  backend/src/bin/ndith-news-service.rs
  backend/src/handlers/mod.rs
  backend/src/lib.rs
  backend/src/runtime.rs
  frontend/nginx-render.conf.template
  frontend/render-entrypoint.sh
  render.yaml
Due: cargo-fmt, cargo-clippy, cargo-check

docs(render): document scoped services and retrigger blueprint sync
  docs/deployment/render.md
  render.yaml
Due: none

fix(render): align backend runtime libc with builder
  backend/Dockerfile
Due: none

fix(ci): redeploy scoped render services after publish
  .github/workflows/render-backend-image.yml
Due: none

fix(ci): prefer render api deploys for backend image
  .github/workflows/render-backend-image.yml
Due: none

fix(oauth): normalize provider callbacks and polish settings ux
  backend/crates/ndith-core/src/config.rs
  backend/crates/ndith-services/src/oauth_youtube_music.rs
  backend/crates/ndith-services/src/tidal.rs
  backend/src/handlers/apple_music_auth.rs
  backend/src/handlers/tidal_connection.rs
  backend/src/handlers/youtube_connection.rs
  frontend/nginx-render.conf.template
  frontend/src/lib/components/Settings.svelte
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/stores/blocking.ts
  frontend/src/lib/utils/oauth-callback.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix(oauth): restore spotify connection flow
  backend/crates/ndith-services/src/oauth_spotify.rs
  backend/src/handlers/spotify_connection.rs
  frontend/src/lib/components/Settings.svelte
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/stores/connections.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix(sync): import provider libraries from sync all
  backend/crates/ndith-core/src/config.rs
  frontend/src/lib/components/SyncDashboard.svelte
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix(sync): unblock provider auth and apple imports
  backend/crates/ndith-core/src/config.rs
  backend/crates/ndith-services/src/apple_music.rs
  backend/crates/ndith-services/src/tidal.rs
  backend/src/handlers/apple_music_auth.rs
  backend/src/handlers/tidal_connection.rs
  backend/src/lib.rs
  frontend/src/lib/components/SyncDashboard.svelte
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

feat: Platform Hardening - Complete 9 PRD User Stories
  backend/.sqlx/query-272520c4fe127005c54359a5a87e6b85fd1080523bd86837a28b2797082fc84a.json
  backend/.sqlx/query-f11ead5f600b669f22654deaf60aecc5d2561231abf39124bf60862cda6635e5.json
Due: none

fix: Frontend CI test failures - fix mocking issues and update expectations
  frontend/e2e/auth.spec.ts
  frontend/e2e/mobile.spec.ts
  frontend/package.json
  frontend/src/lib/components/BulkActions.svelte
  frontend/src/lib/components/DnpEntry.svelte
  frontend/src/lib/components/DnpManager.svelte
  frontend/src/lib/components/EnforcementExecution.svelte
  frontend/src/lib/components/EnforcementOptions.svelte
  frontend/src/lib/components/EnforcementPlanning.svelte
  frontend/src/lib/components/EnforcementPreview.svelte
  frontend/src/lib/components/LoginForm.svelte
  frontend/src/lib/components/Navigation.svelte
  frontend/src/lib/components/RegisterForm.svelte
  frontend/src/lib/components/ServiceConnections.svelte
  frontend/src/lib/components/SimpleNavigation.svelte
  frontend/src/lib/components/TwoFactorSetup.svelte
  frontend/src/lib/components/TwoFactorVerification.svelte
  frontend/src/lib/components/UserProfile.svelte
  frontend/src/lib/components/__tests__/CategoryRevenueBreakdown.test.ts
  frontend/src/lib/components/__tests__/LoginForm.test.ts
  frontend/src/lib/components/__tests__/auth-components.test.ts
  frontend/src/lib/utils/musickit.ts
Due: typescript-check

ci: fix PR validation workflow permissions and dependency review
  .github/workflows/pr-validation.yml
Due: none

feat: UX design system alignment and accessibility improvements
  frontend/src/app.css
  frontend/src/lib/components/BlockingToasts.svelte
  frontend/src/lib/styles/unified-design-system.css
  tasks/prd-ux-alignment.md
Due: typescript-check

feat: local registry + host-native builds for reliable tilt up
  .gitignore
  Tiltfile
  frontend/Dockerfile.runtime
  k8s/dev-manifests.yaml
  scripts/setup-registry.sh
  scripts/tilt-build.sh
Due: kubeval

feat: UX alignment - mobile nav, skeleton loading, accessibility
  frontend/src/app.css
  frontend/src/lib/components/Dashboard.svelte
  frontend/src/lib/components/DnpManager.svelte
  frontend/src/lib/components/LoginForm.svelte
  frontend/src/lib/components/Navigation.svelte
  frontend/src/lib/components/RegisterForm.svelte
  frontend/src/lib/components/TwoFactorSetup.svelte
  frontend/src/lib/components/TwoFactorVerification.svelte
Due: typescript-check

fix: add optional chaining to prevent null access errors
  frontend/src/lib/components/DnpEntry.svelte
  frontend/src/lib/components/DnpManager.svelte
Due: typescript-check

feat: frontend redesign with dual-theme design system and UX fixes
  frontend/public/global.css
  frontend/public/index.html
  frontend/src/app.css
  frontend/src/lib/components/ArtistSearchBar.svelte
  frontend/src/lib/components/BlockedArtistCard.svelte
  frontend/src/lib/components/BlocklistPage.svelte
  frontend/src/lib/stores/theme.ts
  frontend/src/lib/styles/unified-design-system.css
  tasks/prd-frontend-redesign.md
Due: typescript-check

fix: improve dark theme readability and replace emoji icons with SVGs
  frontend/src/lib/components/Dashboard.svelte
  frontend/src/lib/styles/unified-design-system.css
Due: typescript-check

fix: improve offense card UI readability and visual polish
  frontend/src/lib/stores/artist.ts
  frontend/src/lib/styles/unified-design-system.css
Due: typescript-check

fix: add null guards to prevent component crashes on navigation
  frontend/src/lib/components/ActionHistory.svelte
  frontend/src/lib/components/ArtistSearch.svelte
  frontend/src/lib/components/CommunityListDetail.svelte
Due: typescript-check

fix: navigation, theme initialization, and block button color
  frontend/src/lib/components/SimpleNavigation.svelte
Due: typescript-check

feat: incremental library sync with toast notifications
  frontend/src/lib/stores/blocking.ts
Due: typescript-check

fix: resolve CI failures, remove Auth0, and prepare Convex+Render deployment
  .env.example
  .github/workflows/ci.yml
  .github/workflows/convex-deploy.yml
  backend/crates/ndith-services/src/apple_music.rs
  convex/_generated/api.ts
  convex/auth.config.ts
  convex/http.ts
  convex/signing.ts
  frontend/.env.example
  frontend/Dockerfile.render
  frontend/package.json
  frontend/rollup.config.js
  frontend/src/App.svelte
  frontend/src/lib/auth/auth0.ts
  frontend/src/lib/components/Login.svelte
  frontend/src/lib/components/SocialLoginButtons.svelte
  frontend/src/lib/convex/bridge.ts
  frontend/src/lib/stores/auth.ts
  frontend/src/lib/utils/api-client.ts
  frontend/src/lib/utils/config.ts
  frontend/src/vite-env.d.ts
  package.json
  render.yaml
  scripts/convex/export-auth0-users.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix: resolve clippy lints in analytics and add Convex auth guard
  backend/crates/ndith-analytics/src/analytics_service/category_revenue.rs
  backend/crates/ndith-analytics/src/analytics_service/dashboard.rs
  backend/crates/ndith-analytics/src/analytics_service/mod.rs
  backend/crates/ndith-analytics/src/analytics_service/revenue.rs
  backend/crates/ndith-analytics/src/databases/duckdb_client.rs
  backend/crates/ndith-analytics/src/lib.rs
  backend/src/handlers/analytics_v2.rs
  frontend/src/lib/convex/bridge.ts
  frontend/src/lib/convex/client.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

feat: enable Tidal and YouTube Music OAuth in frontend
  frontend/e2e/oauth-spotify.spec.ts
  frontend/e2e/oauth-tidal.spec.ts
  frontend/e2e/oauth-youtube.spec.ts
  frontend/src/lib/components/ServiceConnections.svelte
Due: typescript-check

style: fix rustfmt formatting for CI compatibility
  backend/crates/ndith-analytics/src/analytics_service/dashboard.rs
  backend/crates/ndith-analytics/src/analytics_service/mod.rs
  backend/crates/ndith-analytics/src/analytics_service/revenue.rs
  backend/crates/ndith-analytics/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: set OAuth redirect URI base and add provider env vars to render.yaml
  render.yaml
Due: none

fix: auto-derive Google redirect URI and wire up YouTube Music OAuth
  backend/crates/ndith-services/src/auth.rs
  backend/crates/ndith-services/src/oauth_config_validator.rs
  backend/crates/ndith-services/src/oauth_google.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: prioritize OAUTH_FRONTEND_BASE_URL over RENDER_EXTERNAL_URL
  backend/crates/ndith-core/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: enforce SVG constraints and fix artist profile UX issues
  frontend/src/app.css
  frontend/src/lib/components/ArtistDiscographyRevenue.svelte
  frontend/src/lib/components/ArtistProfile.svelte
Due: typescript-check

feat: add playlist sanitizer to grade, replace, and publish clean playlists
  backend/crates/ndith-core/src/models/mod.rs
  backend/crates/ndith-core/src/models/sanitizer.rs
  backend/crates/ndith-services/src/lib.rs
  backend/crates/ndith-services/src/playlist_sanitizer.rs
  backend/crates/ndith-services/src/spotify.rs
  backend/migrations/036_sanitization_plans.sql
  backend/src/handlers/mod.rs
  backend/src/handlers/playlist_sanitizer.rs
  backend/src/lib.rs
  frontend/src/App.svelte
  frontend/src/lib/components/Layout.svelte
  frontend/src/lib/components/PlaylistGradeGauge.svelte
  frontend/src/lib/components/PlaylistSanitizer.svelte
  frontend/src/lib/components/ReplacementPicker.svelte
  frontend/src/lib/stores/sanitizer.ts
  frontend/src/lib/utils/simple-router.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

feat: add LLM budget guard and strip LLM from pipeline for $0/month operation
  backend/crates/ndith-news/src/lib.rs
  backend/crates/ndith-news/src/news_pipeline/autoresearch.rs
  backend/crates/ndith-news/src/news_pipeline/mod.rs
  backend/crates/ndith-news/src/news_pipeline/processing/entity_extractor.rs
  backend/crates/ndith-news/src/news_pipeline/processing/hybrid_classifier.rs
  backend/crates/ndith-news/src/news_pipeline/processing/llm_client.rs
  backend/crates/ndith-news/src/news_pipeline/processing/mod.rs
  backend/src/backfill_orchestrator.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: add news pipeline foundation — Wikipedia, Brave Search, research quality, expanded offense categories
  backend/Cargo.lock
  backend/crates/ndith-core/src/models/offense.rs
  backend/crates/ndith-news/Cargo.toml
  backend/crates/ndith-news/src/news_pipeline/ingestion/mod.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/web_search.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/wikipedia_client.rs
  backend/crates/ndith-news/src/news_pipeline/offense_creator.rs
  backend/crates/ndith-news/src/news_pipeline/orchestrator.rs
  backend/crates/ndith-news/src/news_pipeline/processing/offense_classifier.rs
  backend/crates/ndith-news/src/news_pipeline/processing/research_quality.rs
  backend/crates/ndith-services/src/backfill_orchestrator.rs
  backend/crates/ndith-services/src/job_queue.rs
  backend/migrations/037_unify_offense_categories.sql
  backend/migrations/038_artist_research_quality.sql
  backend/src/handlers/news.rs
  backend/src/lib.rs
  frontend/package-lock.json
Due: cargo-fmt, cargo-clippy, cargo-check

style: run cargo fmt across workspace to fix CI rustfmt check
  backend/crates/ndith-core/src/config.rs
  backend/crates/ndith-news/src/lib.rs
  backend/crates/ndith-news/src/news_pipeline/autoresearch.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/web_search.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/wikipedia_client.rs
  backend/crates/ndith-news/src/news_pipeline/mod.rs
  backend/crates/ndith-news/src/news_pipeline/processing/entity_extractor.rs
  backend/crates/ndith-news/src/news_pipeline/processing/hybrid_classifier.rs
  backend/crates/ndith-news/src/news_pipeline/processing/llm_client.rs
  backend/crates/ndith-news/src/news_pipeline/processing/offense_classifier.rs
  backend/crates/ndith-news/src/news_pipeline/processing/research_quality.rs
  backend/crates/ndith-services/src/auth.rs
  backend/crates/ndith-services/src/oauth_config_validator.rs
  backend/crates/ndith-services/src/playlist_sanitizer.rs
  backend/crates/ndith-services/src/spotify.rs
  backend/src/handlers/news.rs
  backend/src/handlers/playlist_sanitizer.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: resolve clippy warnings blocking CI (dead_code, type_complexity, should_implement_trait)
  backend/crates/ndith-core/src/models/sanitizer.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/web_search.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/wikipedia_client.rs
  backend/crates/ndith-news/src/news_pipeline/processing/hybrid_classifier.rs
  backend/crates/ndith-news/src/news_pipeline/processing/research_quality.rs
  backend/crates/ndith-services/src/playlist_sanitizer.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: comprehensive UX overhaul — broken images, invalid HTML, dark-theme errors
  frontend/src/lib/components/ArtistDiscographyRevenue.svelte
  frontend/src/lib/components/ArtistProfile.svelte
  frontend/src/lib/components/ArtistSearch.svelte
  frontend/src/lib/components/ArtistSearchBar.svelte
  frontend/src/lib/components/BlockedArtistCard.svelte
  frontend/src/lib/components/CommunityListDetail.svelte
  frontend/src/lib/components/Dashboard.svelte
  frontend/src/lib/components/DnpEntry.svelte
  frontend/src/lib/components/Home.svelte
  frontend/src/lib/components/OffenseDatabase.svelte
  frontend/src/lib/components/ReplacementPicker.svelte
  frontend/src/lib/components/SimpleNavigation.svelte
  frontend/src/lib/styles/design-system.css
  frontend/src/lib/styles/optimized-design-system.css
  frontend/src/lib/styles/uswds-skeleton-theme.css
Due: typescript-check

fix: E2E test infrastructure — port mismatch, truthiness bug, remove unused backend
  .github/workflows/ci.yml
  frontend/package.json
  frontend/playwright.config.ts
Due: typescript-check

fix: align E2E test locators with actual component HTML
  frontend/e2e/auth.spec.ts
  frontend/e2e/enforcement.spec.ts
  frontend/e2e/fixtures.ts
  frontend/e2e/home.spec.ts
  frontend/e2e/mobile.spec.ts
  frontend/e2e/navigation.spec.ts
  frontend/e2e/oauth-spotify.spec.ts
  frontend/e2e/oauth-tidal.spec.ts
  frontend/e2e/oauth-youtube.spec.ts
Due: typescript-check
