Repository kcirtapfromspace/no_drake_in_the_house: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, typescript-check, kubeval

.pre-commit-config.yaml:

# Pre-commit hooks for No Drake in the House
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in Kubernetes manifests
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: cargo fmt
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all', '--', '--check']

      - id: cargo-clippy
        name: Cargo Clippy
        entry: cargo clippy
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features', '--', '-D', 'warnings']

      - id: cargo-check
        name: Cargo Check
        entry: cargo check
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features']

  # Frontend formatting and linting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: '\.(js|ts|svelte|json|css|md|yaml|yml)$'
        exclude: '(package-lock\.json|\.lock|target/|node_modules/|\.git/)'
        args: ['--write']

  # TypeScript checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd frontend && npm run check'
        language: system
        files: '\.(ts|svelte)$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '(package-lock\.json|Cargo\.lock|\.env\.example)'

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008', '--ignore', 'DL3009']

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']  # Ignore sourcing files that may not exist

  # Kubernetes manifest validation
  - repo: local
    hooks:
      - id: kubeval
        name: Kubernetes Manifest Validation
        entry: bash -c 'if command -v kubeval >/dev/null 2>&1; then find k8s helm/templates -name "*.yaml" -exec kubeval {} \; || true; fi'
        language: system
        files: '(k8s/.*\.yaml|helm/templates/.*\.yaml)$'
        pass_filenames: false

  # SQL formatting (if sqlfluff is available)
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.3.5
    hooks:
      - id: sqlfluff-lint
        files: '\.sql$'
        args: ['--dialect', 'postgres']
      - id: sqlfluff-fix
        files: '\.sql$'
        args: ['--dialect', 'postgres']

# Configuration for specific tools
default_language_version:
  python: python3.11
  node: '18.19.0'

# Global excludes
exclude: |
  (?x)^(
    .*\.lock$|
    .*\.log$|
    target/.*|
    node_modules/.*|
    \.git/.*|
    \.vscode/.*|
    \.idea/.*|
    backend/target/.*|
    frontend/node_modules/.*|
    frontend/build/.*|
    frontend/public/build/.*
  )$

# Fail fast - stop on first failure
fail_fast: false

# Minimum pre-commit version
minimum_pre_commit_version: '3.0.0'

fix: gate all service routers behind their respective feature flags
  backend/src/lib.rs
  backend/src/runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Fix Spotify sync token resolution error mapping
  backend/src/handlers/spotify_connection.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(security): replace K8s secrets with empty stringData templates
  .gitignore
  k8s/minikube/secrets.yaml
  k8s/secrets.yaml
Due: kubeval

ci: add gitleaks secret scanning workflow
  .github/workflows/secret-scan.yml
Due: none

fix: wire news pipeline into research trigger and pass Convex artist IDs
  backend/crates/ndith-news/src/news_pipeline/autoresearch.rs
  backend/src/backfill_orchestrator.rs
  backend/src/handlers/news.rs
  backend/src/lib.rs
  backend/src/runtime.rs
  convex/evidenceFinder.ts
  frontend/src/lib/convex/bridge.ts
  render.yaml
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix: add one-off mutation to reset stale investigation timestamps
  convex/evidenceFinder.ts
Due: typescript-check

fix(auth): enforce jwt iss/aud claims and stale-token recovery
  backend/crates/ndith-services/src/auth.rs
  frontend/src/lib/stores/__tests__/auth-issuer.test.ts
  frontend/src/lib/stores/auth.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix(auth): patch login_user iss/aud path and add regressions
  backend/crates/ndith-services/src/auth.rs
  frontend/src/lib/stores/__tests__/auth-issuer.test.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix: link classifications to Convex artist IDs for offense promotion
  backend/crates/ndith-news/src/news_pipeline/autoresearch.rs
  backend/crates/ndith-news/src/news_pipeline/offense_creator.rs
  backend/crates/ndith-news/src/news_pipeline/processing/entity_extractor.rs
  backend/crates/ndith-news/src/news_pipeline/processing/offense_classifier.rs
  backend/crates/ndith-news/src/news_pipeline/repository.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: accept string artistId in batch ingest and resolve to Convex IDs
  convex/newsIngestion.ts
Due: typescript-check

feat: populate artist profile tabs from library data
  convex/artistProfile.ts
  frontend/src/lib/components/ArtistDiscographyRevenue.svelte
Due: typescript-check

fix: handle optional trackName in catalog and credits queries
  convex/artistProfile.ts
Due: typescript-check

feat: golden record master catalog with cross-platform dedup
  convex/artistProfile.ts
  convex/catalogResolver.ts
  convex/schema.ts
Due: typescript-check

fix: use index for unresolved track query to avoid full table scan
  convex/catalogResolver.ts
Due: typescript-check

fix: paginated scan for unresolved tracks to handle missing field
  convex/catalogResolver.ts
Due: typescript-check

fix: use userId index for full scan to find all unresolved tracks
  convex/catalogResolver.ts
Due: typescript-check

fix: paginate by user+provider to stay within Convex bandwidth limits
  convex/catalogResolver.ts
Due: typescript-check

fix: use providerConnections for user+provider list instead of scanning tracks
  convex/catalogResolver.ts
Due: typescript-check

debug: add track count diagnostic query
  convex/catalogResolver.ts
Due: typescript-check

feat: wire catalog resolver into sync pipeline and daily cron
  convex/crons.ts
  convex/librarySyncActions.ts
Due: typescript-check

fix: redirect to login when JWT expires instead of showing broken state
  frontend/src/lib/stores/auth.ts
Due: typescript-check

debug: add artist name variation query
  convex/catalogResolver.ts
Due: typescript-check

fix: scope name variation query by provider
  convex/catalogResolver.ts
Due: typescript-check

feat: link multi-artist tracks to all credited artists
  convex/catalogResolver.ts
Due: typescript-check

feat: enrich golden catalog with full artist discographies from Spotify
  convex/catalogEnrichment.ts
  convex/crons.ts
  convex/schema.ts
Due: typescript-check

fix: resolve TypeScript implicit any errors in catalog actions
  convex/catalogEnrichment.ts
  convex/catalogResolver.ts
Due: typescript-check

fix: log Spotify error body for debugging
  convex/catalogEnrichment.ts
Due: typescript-check

fix: URL-encode include_groups and reduce album page size to 20
  convex/catalogEnrichment.ts
Due: typescript-check

fix: use Spotify client credentials for catalog enrichment instead of user tokens
  convex/catalogEnrichment.ts
Due: typescript-check

debug: simplify albums URL and add logging
  convex/catalogEnrichment.ts
Due: typescript-check

debug: log token details
  convex/catalogEnrichment.ts
Due: typescript-check

debug: strip limit param and use plain fetch
  convex/catalogEnrichment.ts
Due: typescript-check

fix: remove limit param from Spotify albums endpoint, fix pagination
  convex/catalogEnrichment.ts
Due: typescript-check

fix: rewrite getCatalog to use album-based traversal instead of scanning all tracks
  convex/artistProfile.ts
Due: typescript-check

feat: revenue tab uses golden catalog with estimated stream counts
  frontend/src/lib/components/ArtistDiscographyRevenue.svelte
Due: typescript-check

fix: getCredits uses trackCredits table from golden catalog instead of parsing track names
  convex/artistProfile.ts
Due: typescript-check

fix: getCredits traverses albums→tracks→credits instead of scanning all trackCredits
  convex/artistProfile.ts
Due: typescript-check

feat: implement playlist sanitizer apply/publish with real Spotify API calls
  convex/sanitizer.ts
Due: typescript-check

perf: increase enrichment batch size from 10 to 50 artists per cron run
  convex/catalogEnrichment.ts
Due: typescript-check
