Repository kcirtapfromspace/no_drake_in_the_house: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, typescript-check, kubeval

.pre-commit-config.yaml:

# Pre-commit hooks for No Drake in the House
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in Kubernetes manifests
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: cargo fmt
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all', '--', '--check']

      - id: cargo-clippy
        name: Cargo Clippy
        entry: cargo clippy
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features', '--', '-D', 'warnings']

      - id: cargo-check
        name: Cargo Check
        entry: cargo check
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features']

  # Frontend formatting and linting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: '\.(js|ts|svelte|json|css|md|yaml|yml)$'
        exclude: '(package-lock\.json|\.lock|target/|node_modules/|\.git/)'
        args: ['--write']

  # TypeScript checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd frontend && npm run check'
        language: system
        files: '\.(ts|svelte)$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '(package-lock\.json|Cargo\.lock|\.env\.example)'

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008', '--ignore', 'DL3009']

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']  # Ignore sourcing files that may not exist

  # Kubernetes manifest validation
  - repo: local
    hooks:
      - id: kubeval
        name: Kubernetes Manifest Validation
        entry: bash -c 'if command -v kubeval >/dev/null 2>&1; then find k8s helm/templates -name "*.yaml" -exec kubeval {} \; || true; fi'
        language: system
        files: '(k8s/.*\.yaml|helm/templates/.*\.yaml)$'
        pass_filenames: false

  # SQL formatting (if sqlfluff is available)
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.3.5
    hooks:
      - id: sqlfluff-lint
        files: '\.sql$'
        args: ['--dialect', 'postgres']
      - id: sqlfluff-fix
        files: '\.sql$'
        args: ['--dialect', 'postgres']

# Configuration for specific tools
default_language_version:
  python: python3.11
  node: '18.19.0'

# Global excludes
exclude: |
  (?x)^(
    .*\.lock$|
    .*\.log$|
    target/.*|
    node_modules/.*|
    \.git/.*|
    \.vscode/.*|
    \.idea/.*|
    backend/target/.*|
    frontend/node_modules/.*|
    frontend/build/.*|
    frontend/public/build/.*
  )$

# Fail fast - stop on first failure
fail_fast: false

# Minimum pre-commit version
minimum_pre_commit_version: '3.0.0'

fix: apply rustfmt formatting to pass Backend Rust Quality CI check
  backend/crates/ndith-services/src/oauth_config_validator.rs
  backend/crates/ndith-services/src/token_vault.rs
  backend/src/handlers/spotify_connection.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: resolve Render cold-start showing maintenance page to visitors
  .github/workflows/keep-alive.yml
  backend/src/lib.rs
  backend/src/monitoring.rs
  frontend/src/App.svelte
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix: replace Tidal API Accept/Content-Type headers to resolve HTTP 406
  backend/crates/ndith-services/src/tidal.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: apply rustfmt formatting to metrics.rs and test_config.rs
  backend/crates/ndith-services/src/metrics.rs
  backend/tests/test_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: resolve clippy warnings blocking Backend Rust Quality CI check
  backend/crates/ndith-services/src/token_vault.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: resolve Tidal HTTP 406 by correcting Accept/Content-Type headers (#25)
  .github/workflows/keep-alive.yml
  backend/crates/ndith-services/src/oauth_config_validator.rs
  backend/crates/ndith-services/src/tidal.rs
  backend/crates/ndith-services/src/token_vault.rs
  backend/src/handlers/spotify_connection.rs
  backend/src/lib.rs
  backend/src/monitoring.rs
  frontend/src/App.svelte
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix: use tokio::sync::Mutex for ENV_LOCK to avoid await_holding_lock clippy error
  backend/crates/ndith-services/src/token_vault.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(oauth): derive callback URI from custom domain instead of .onrender.com
  backend/crates/ndith-core/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: apply rustfmt formatting to oauth_config_validator, token_vault, spotify_connection
  backend/crates/ndith-core/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: use tokio::sync::Mutex for ENV_LOCK to resolve await_holding_lock clippy error
  backend/crates/ndith-services/src/token_vault.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: add owner-only admin dashboard with catalog metrics and security hardening
  convex/analytics.ts
  convex/categories.ts
  convex/crons.ts
  convex/lib/auth.ts
  convex/migration.ts
  convex/sync.ts
  frontend/src/App.svelte
  frontend/src/lib/components/AdminDashboard.svelte
  frontend/src/lib/components/Layout.svelte
  frontend/src/lib/convex/bridge.ts
  frontend/src/lib/stores/admin.ts
  frontend/src/lib/stores/auth.ts
  frontend/src/lib/utils/simple-router.ts
Due: typescript-check

fix: resolve rustfmt formatting and frontend TypeScript errors
  frontend/src/lib/components/AdminDashboard.svelte
  frontend/src/lib/components/ui/Breadcrumb.svelte
Due: typescript-check

fix(oauth): resolve redirect URI mismatches and YouTube env var naming
  convex/providerOAuth.ts
  frontend/src/lib/stores/connections.ts
Due: typescript-check

fix(oauth): initialize Convex auth token so bridge routes work
  frontend/src/lib/convex/bridge.ts
  frontend/src/lib/stores/auth.ts
Due: typescript-check

fix(oauth): use Rust backend /connections/ routes for streaming providers
  frontend/src/lib/components/__tests__/OAuthCallback.test.ts
  frontend/src/lib/stores/connections.ts
  frontend/src/lib/utils/oauth-callback.ts
Due: typescript-check

fix(oauth): drop redirect_uri from Spotify authorize request
  frontend/src/lib/stores/connections.ts
Due: typescript-check

fix(oauth): resolve COOP header blocking YouTube Music OAuth popup callback
  frontend/src/lib/components/ConnectionsPage.svelte
  frontend/src/lib/components/OAuthCallback.svelte
  frontend/src/lib/stores/connections.ts
Due: typescript-check

fix(sync): surface Spotify sync errors in UI and route OAuth through Convex bridge
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/stores/connections.ts
Due: typescript-check

fix(e2e): update OAuth callback mocks to use /connections/ routes
  frontend/e2e/oauth-spotify.spec.ts
  frontend/e2e/oauth-tidal.spec.ts
  frontend/e2e/oauth-youtube.spec.ts
Due: typescript-check

fix(oauth): resolve redirect URI mismatches and YouTube env var naming (#26)
  convex/providerOAuth.ts
  frontend/src/lib/stores/connections.ts
Due: typescript-check

fix(oauth): resolve COOP header blocking YouTube Music OAuth popup (#27)
  frontend/e2e/oauth-spotify.spec.ts
  frontend/e2e/oauth-tidal.spec.ts
  frontend/e2e/oauth-youtube.spec.ts
  frontend/src/lib/components/ConnectionsPage.svelte
  frontend/src/lib/components/OAuthCallback.svelte
  frontend/src/lib/stores/connections.ts
Due: typescript-check

feat: admin dashboard + security hardening (#18)
  convex/analytics.ts
  convex/categories.ts
  convex/crons.ts
  convex/lib/auth.ts
  convex/migration.ts
  convex/sync.ts
  frontend/src/App.svelte
  frontend/src/lib/components/AdminDashboard.svelte
  frontend/src/lib/components/Layout.svelte
  frontend/src/lib/components/ui/Breadcrumb.svelte
  frontend/src/lib/convex/bridge.ts
  frontend/src/lib/stores/admin.ts
  frontend/src/lib/stores/auth.ts
  frontend/src/lib/utils/simple-router.ts
Due: typescript-check

fix(sync): run provider library syncs in background with better error handling
  backend/src/handlers/spotify_connection.rs
  backend/src/handlers/tidal_connection.rs
  backend/src/handlers/youtube_connection.rs
  frontend/src/lib/components/SyncDashboard.svelte
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix: apply rustfmt formatting to sync error handlers
  backend/src/handlers/spotify_connection.rs
  backend/src/handlers/tidal_connection.rs
  backend/src/handlers/youtube_connection.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(sync): run provider library syncs in background with better error handling (#28)
  backend/src/handlers/spotify_connection.rs
  backend/src/handlers/tidal_connection.rs
  backend/src/handlers/youtube_connection.rs
  frontend/src/lib/components/SyncDashboard.svelte
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix(security): replace K8s secrets with empty stringData templates
  .gitignore
  k8s/minikube/secrets.yaml
  k8s/secrets.yaml
Due: kubeval

ci: add gitleaks secret scanning workflow
  .github/workflows/secret-scan.yml
Due: none

fix(spotify): auto-refresh expired access tokens before library sync
  backend/src/handlers/spotify_connection.rs
  backend/src/lib.rs
  frontend/src/lib/stores/connections.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

test: add authenticatedRequest mock to connections test
  frontend/src/lib/stores/__tests__/connections.test.ts
Due: typescript-check

fix: route Spotify OAuth through Convex so library sync can access tokens
  frontend/src/lib/stores/connections.ts
  frontend/src/lib/utils/oauth-callback.ts
Due: typescript-check

fix: update E2E tests to match new Convex OAuth routing endpoints
  frontend/e2e/oauth-spotify.spec.ts
  frontend/e2e/oauth-tidal.spec.ts
  frontend/e2e/oauth-youtube.spec.ts
Due: typescript-check

fix: update OAuth callback tests to match new Convex routing endpoints
  frontend/src/lib/components/__tests__/OAuthCallback.test.ts
Due: typescript-check

frontend: route production PostHog browser traffic through proxy host
  frontend/.env.example
  frontend/render-entrypoint.sh
  frontend/src/lib/utils/config.ts
  frontend/src/lib/utils/posthog.ts
Due: typescript-check

fix(posthog): enforce proxy host without import.meta.env.PROD
  frontend/src/lib/utils/config.ts
  frontend/src/lib/utils/posthog.ts
Due: typescript-check

fix(frontend): guard runtime hostname access in tests
  frontend/src/lib/utils/config.ts
Due: typescript-check

ci(frontend): add deploy-hook fallback for Render frontend publish
  .github/workflows/render-frontend-image.yml
Due: none

fix(posthog): enforce proxy host when runtime env points to posthog cloud
  frontend/render-entrypoint.sh
  frontend/src/lib/utils/config.ts
Due: typescript-check
