Repository kcirtapfromspace/no_drake_in_the_house: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, typescript-check, kubeval

cargo-fmt:
  name: Cargo Format
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo Clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo Check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npm run check'
  language: system
  pass_filenames: false

kubeval:
  name: Kubernetes Manifest Validation
  entry: bash -c 'if command -v kubeval >/dev/null 2>&1; then find k8s helm/templates -name "*.yaml" -exec kubeval {} \; || true; fi'
  language: system
  pass_filenames: false

test(runtime): cover ensure_duckdb_storage_ready write-probe failure (NOD-248) (#35)
  backend/src/runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check

docs(runbook): address Staff review HIGH 2, MEDIUM 3-4, LOW 5 (NOD-252)
  docs/release/duckdb-render-disk-runbook.md
Due: none

docs(runbook): K8s parity for (B)-scope split, link NOD-253 (NOD-196)
  docs/release/duckdb-storage-runbook.md
Due: none

docs(runbook): name NOD-253 explicitly under (B) split (NOD-252)
  docs/release/duckdb-render-disk-runbook.md
Due: none

docs(runbook): add operator-facing grep self-verification (NOD-196)
  docs/release/duckdb-storage-runbook.md
Due: none

docs(runbook): mirror grep self-verification onto Render runbook (NOD-252)
  docs/release/duckdb-render-disk-runbook.md
Due: none

feat(analytics): real DuckDB writer probe at startup + runbook hook (NOD-253)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/crates/ndith-analytics/src/databases/duckdb_client.rs
  backend/src/handlers/analytics_v2.rs
  backend/src/lib.rs
  backend/src/runtime.rs
  docs/release/duckdb-storage-runbook.md
Due: cargo-fmt, cargo-clippy, cargo-check

docs(runbook): remove stale 'Known production gap' wording (NOD-256)
  docs/release/duckdb-storage-runbook.md
Due: none

docs(runbook): remove stale 'Known production gap' wording (NOD-252)
  docs/release/duckdb-render-disk-runbook.md
Due: none

Revert "docs(runbook): remove stale 'Known production gap' wording (NOD-252)"
  docs/release/duckdb-render-disk-runbook.md
Due: none

style(runtime): apply cargo fmt to dac_enforces_readonly_dir (NOD-196)
  backend/src/runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check

chore(clippy): satisfy sort_by_key lint in ndith-analytics (NOD-196)
  backend/crates/ndith-analytics/src/analytics_service/category_revenue.rs
  backend/crates/ndith-analytics/src/graph_service/collaboration.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat(deploy): persistent DuckDB runtime storage (#33)
  .gitleaksignore
  backend/Cargo.lock
  backend/Cargo.toml
  backend/crates/ndith-analytics/src/analytics_service/category_revenue.rs
  backend/crates/ndith-analytics/src/databases/duckdb_client.rs
  backend/crates/ndith-analytics/src/graph_service/collaboration.rs
  backend/crates/ndith-services/src/catalog_sync/musicbrainz.rs
  backend/src/handlers/analytics_v2.rs
  backend/src/handlers/dnp.rs
  backend/src/lib.rs
  backend/src/middleware/security.rs
  backend/src/runtime.rs
  docs/release/duckdb-storage-proof-2026-04-29.md
  docs/release/duckdb-storage-runbook.md
  frontend/e2e/fixtures.ts
  frontend/e2e/home.spec.ts
  frontend/e2e/oauth-spotify.spec.ts
  frontend/e2e/oauth-tidal.spec.ts
  frontend/e2e/oauth-youtube.spec.ts
  frontend/src/lib/components/ArtistDiscographyRevenue.svelte
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/components/__tests__/ArtistDiscographyRevenue.test.ts
  frontend/src/lib/stores/__tests__/connections.test.ts
  frontend/src/lib/utils/__tests__/link-validator.test.ts
  helm/templates/backend-deployment.yaml
  helm/templates/duckdb-pvc.yaml
  helm/values-production.yaml
  helm/values.yaml
  k8s/api-deployment.yaml
  k8s/configmap.yaml
  k8s/duckdb-pvc.yaml
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check, kubeval

docs(runbook): re-apply framing flip — writer code on main (NOD-252)
  docs/release/duckdb-render-disk-runbook.md
Due: none

docs(release): add high-churn PR checklist + PR template (NOD-385)
  .github/pull_request_template.md
  docs/release/high-churn-pr-checklist-pr18-eval.md
  docs/release/high-churn-pr-checklist.md
Due: none

docs(release): permission-gated merge escalation policy (NOD-394)
  docs/release/permission-gated-merge-escalation.md
Due: none

docs(release): permission-gated merge escalation policy (NOD-394) (#39)
  docs/release/permission-gated-merge-escalation.md
Due: none

docs(release): merge-event automation contract (NOD-397)
  Makefile
  docs/release/merge-event-automation.md
  docs/release/permission-gated-merge-escalation.md
  scripts/release/merge_event_poller.py
Due: none

ci(release): contract regression gate + live dry-run mode (NOD-397)
  .github/workflows/release-merge-event-contract.yml
  docs/release/merge-event-automation.md
  scripts/release/merge_event_poller.py
Due: none

fix(release): harden live-mode lookup + widen contract gate (NOD-397 CTO review)
  .github/workflows/release-merge-event-contract.yml
  docs/release/merge-event-automation.md
  scripts/release/merge_event_poller.py
Due: none

docs(release): merge-event automation contract (NOD-397) (#40)
  .github/workflows/release-merge-event-contract.yml
  Makefile
  docs/release/merge-event-automation.md
  docs/release/permission-gated-merge-escalation.md
  scripts/release/merge_event_poller.py
Due: none

fix(deploy): preserve AWS routing and ARM64 builds
  .github/workflows/render-backend-image.yml
  .github/workflows/render-frontend-image.yml
  frontend/nginx-render.conf.template
  frontend/render-entrypoint.sh
Due: none

fix(deploy): add verified ECS release path
  docs/architecture/jev-evaluation.md
  docs/deployment/2026-09-27-jev-release.md
  docs/deployment/aws-ecs.md
  docs/deployment/production-deployment.md
  docs/deployment/render.md
  docs/evaluations/2026-09-27-verification.md
  scripts/deployment/ecs-release.py
Due: none

docs: record Jev release images and status
  docs/deployment/2026-09-27-jev-release.md
Due: none

fix(redis): enable TLS in production images
  backend/Cargo.lock
  backend/Cargo.toml
  backend/crates/ndith-db/src/database.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(proxy): wake idle services for API requests
  .github/workflows/render-frontend-image.yml
  frontend/Dockerfile.render
  frontend/nginx-render.conf.template
  frontend/warming.html
  scripts/deployment/test-nginx-wake.py
Due: none

docs: record verified Jev production recovery
  docs/deployment/2026-09-27-jev-release.md
  docs/deployment/aws-ecs.md
  docs/evaluations/2026-09-27-deployed-jev-smoke.json
  docs/evaluations/2026-09-27-deployed-source-fetch-smoke.json
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  cargo-check: any of: \.rs$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  typescript-check: any of: \.(ts|svelte)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  kubeval: any of: (k8s/.*\.yaml|helm/templates/.*\.yaml)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

