Repository kcirtapfromspace/no_drake_in_the_house: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, typescript-check, kubeval

.pre-commit-config.yaml:

# Pre-commit hooks for No Drake in the House
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in Kubernetes manifests
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: cargo fmt
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all', '--', '--check']

      - id: cargo-clippy
        name: Cargo Clippy
        entry: cargo clippy
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features', '--', '-D', 'warnings']

      - id: cargo-check
        name: Cargo Check
        entry: cargo check
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features']

  # Frontend formatting and linting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: '\.(js|ts|svelte|json|css|md|yaml|yml)$'
        exclude: '(package-lock\.json|\.lock|target/|node_modules/|\.git/)'
        args: ['--write']

  # TypeScript checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd frontend && npm run check'
        language: system
        files: '\.(ts|svelte)$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '(package-lock\.json|Cargo\.lock|\.env\.example)'

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008', '--ignore', 'DL3009']

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']  # Ignore sourcing files that may not exist

  # Kubernetes manifest validation
  - repo: local
    hooks:
      - id: kubeval
        name: Kubernetes Manifest Validation
        entry: bash -c 'if command -v kubeval >/dev/null 2>&1; then find k8s helm/templates -name "*.yaml" -exec kubeval {} \; || true; fi'
        language: system
        files: '(k8s/.*\.yaml|helm/templates/.*\.yaml)$'
        pass_filenames: false

  # SQL formatting (if sqlfluff is available)
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.3.5
    hooks:
      - id: sqlfluff-lint
        files: '\.sql$'
        args: ['--dialect', 'postgres']
      - id: sqlfluff-fix
        files: '\.sql$'
        args: ['--dialect', 'postgres']

# Configuration for specific tools
default_language_version:
  python: python3.11
  node: '18.19.0'

# Global excludes
exclude: |
  (?x)^(
    .*\.lock$|
    .*\.log$|
    target/.*|
    node_modules/.*|
    \.git/.*|
    \.vscode/.*|
    \.idea/.*|
    backend/target/.*|
    frontend/node_modules/.*|
    frontend/build/.*|
    frontend/public/build/.*
  )$

# Fail fast - stop on first failure
fail_fast: false

# Minimum pre-commit version
minimum_pre_commit_version: '3.0.0'

update
  .kiro/specs/core-services-dev-environment/tasks.md
  Tiltfile
  backend/Dockerfile
  backend/src/services/auth.rs
  backend/src/services/user.rs
  frontend/Dockerfile
  frontend/Dockerfile.fast
  frontend/nginx-dev.conf
  frontend/nginx.conf
  frontend/node_modules/.package-lock.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.svg
  frontend/public/index.html
  frontend/rollup.config.js
  frontend/src/App.svelte
  frontend/src/lib/components/RegisterForm.svelte
  frontend/src/lib/utils/config.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

update
  .kiro/specs/core-services-dev-environment/tasks.md
  Tiltfile
  backend/Dockerfile
  backend/src/services/auth.rs
  backend/src/services/user.rs
  frontend/Dockerfile
  frontend/Dockerfile.fast
  frontend/nginx-dev.conf
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.svg
  frontend/public/index.html
  frontend/rollup.config.js
  frontend/src/App.svelte
  frontend/src/lib/components/RegisterForm.svelte
  frontend/src/lib/utils/config.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

registration-flow-improvements
  .kiro/specs/registration-flow-improvements/design.md
  .kiro/specs/registration-flow-improvements/requirements.md
  .kiro/specs/registration-flow-improvements/tasks.md
  backend/TASK_3_AUTO_LOGIN_IMPLEMENTATION_SUMMARY.md
  backend/src/error.rs
  backend/src/handlers/auth.rs
  backend/src/lib.rs
  backend/src/models/mod.rs
  backend/src/models/user.rs
  backend/src/services/auth.rs
  backend/src/services/mod.rs
  backend/src/services/rate_limiting_middleware.rs
  backend/tests/auto_login_unit_tests.rs
  backend/tests/registration_integration_tests.rs
  backend/tests/registration_validation_unit_tests.rs
  docs/api/authentication.md
  frontend/public/build/bundle.js
  frontend/public/build/bundle.js.map
  frontend/src/lib/components/Dashboard.svelte
  frontend/src/lib/components/Login.svelte
  frontend/src/lib/components/RegisterForm.svelte
  frontend/src/lib/components/__tests__/RegisterForm.test.ts
  frontend/src/lib/stores/auth.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

minikube not quite right
  .kiro/specs/registration-flow-improvements/tasks.md
  REGISTRATION_FLOW_SETUP.md
  backend/.env
  k8s/dev-manifests.yaml
  scripts/verify-tilt-setup.sh
Due: kubeval

minikube not quite right
  .kiro/specs/registration-flow-improvements/tasks.md
  REGISTRATION_FLOW_SETUP.md
  k8s/dev-manifests.yaml
  scripts/verify-tilt-setup.sh
Due: kubeval

able to login
  .kiro/specs/dev-environment-stabilization/design.md
  .kiro/specs/dev-environment-stabilization/requirements.md
  .kiro/specs/dev-environment-stabilization/tasks.md
  Tiltfile
  backend/src/handlers/auth.rs
  backend/src/main.rs
  docs/DATABASE_MIGRATION_SYSTEM.md
  docs/TILTFILE_MIGRATION_IMPROVEMENTS.md
  frontend/nginx.conf
  k8s/dev-manifests.yaml
  k8s/dev/migration-job.yaml
  scripts/test-migration-job.sh
  scripts/verify-migration-setup.sh
Due: cargo-fmt, cargo-clippy, cargo-check, kubeval

Login working
  .kiro/specs/registration-flow-improvements/tasks.md
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/error.rs
  backend/src/handlers/auth.rs
  backend/src/handlers/login_health.rs
  backend/src/handlers/mod.rs
  backend/src/handlers/registration_health.rs
  backend/src/lib.rs
  backend/src/services/auth.rs
  backend/src/services/login_performance.rs
  backend/src/services/mod.rs
  backend/src/services/registration_monitoring.rs
  backend/src/services/registration_performance.rs
  backend/tests/login_performance_tests.rs
  backend/tests/registration_monitoring_tests.rs
  docs/FRONTEND_API_FIXES.md
  docs/LOGIN_PERFORMANCE_OPTIMIZATIONS.md
  frontend/rollup.config.js
  frontend/src/lib/utils/config.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

Update SQLx query cache for OAuth functionality
  backend/.sqlx/query-0866da4c22203096c1621b53315b59c0784e9fe0cde8081e7790b4446be29c89.json
  backend/.sqlx/query-104d397cab7d44c05fe306b84ab857e08ac6ed50c2870ac259fe1dbdab987264.json
  backend/.sqlx/query-16d968d8844b8e6615f498a966e5cc5bc959653fbae10f400f7e8dd44fde4935.json
  backend/.sqlx/query-4a1c0cecaac60d2a379ff3462ea2292d40ecf5561f10aa28a85a6aed8c053022.json
  backend/.sqlx/query-536ad6d8ced4412d5c21854ca52b668fab65f5bd90e989f7e3f6f051f7fc9db3.json
  backend/.sqlx/query-549de16352e94868cd49c24ab0e5950c40736e462066b5a2225c23e0af556de5.json
  backend/.sqlx/query-5f728a4eab162147c79de19442ab4751036fc7dd43bfc80a583ea4aa5c279cd7.json
  backend/.sqlx/query-83764a94a8534fc72408bcc2bb7d7f3465fd5e89d92958cdb97c30cb6c42b187.json
  backend/.sqlx/query-8530277ab0ef06f8c52e8d9c14eedfe7f167502f7f7abf5eeedc00f5f4ff699c.json
  backend/.sqlx/query-8fab26685a445815de4e18aa1d75a69f3456389140746a7765d243b2e15f72c8.json
  backend/.sqlx/query-cb499b29862bb7a2b18438f1c4c529be2134e1e5fc0a2e6f460d7dc00ff7ebb7.json
  backend/.sqlx/query-d0d0d5138fdff3cac304ef17f39cfee8a29b1915c4c649f47771b93fa80ecc92.json
  backend/.sqlx/query-d1f2876dff9c3169c4aa1e6b14514371f89a7d0c8a37ba0706daaee6af76f7d2.json
  backend/.sqlx/query-d823088abd90660eefeeb1fe2654f0f4458d19566409b3c4e95c1c76d41157fb.json
  backend/.sqlx/query-ddec4f393032204736ab64f286fe99ee7da563d21402530c4eef3955e5be3798.json
  backend/.sqlx/query-ea5399a677d2e0c6dd74caa9a04259fd97192f75bcfc9d997011d84ebc0232db.json
Due: none

Add latency tracking and graph stats to database health checks
  backend/src/services/databases/kuzu_client.rs
  backend/src/services/databases/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Add offense API enhancements for category queries and artist details
  backend/src/handlers/offense.rs
  backend/src/models/offense.rs
  backend/src/services/offense.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Enhance frontend with artist details view and improved category navigation
  frontend/public/build/bundle.js
  frontend/public/build/bundle.js.map
  frontend/src/lib/components/Home.svelte
  frontend/src/lib/components/Settings.svelte
Due: typescript-check

Fix CI pipeline and add frontend integration for sync/analytics/graph APIs
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  frontend/src/App.svelte
  frontend/src/lib/components/AccountLinking.svelte
  frontend/src/lib/components/AnalyticsDashboard.svelte
  frontend/src/lib/components/GraphExplorer.svelte
  frontend/src/lib/components/Home.svelte
  frontend/src/lib/components/OAuthCallback.svelte
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/stores/analytics.ts
  frontend/src/lib/stores/auth.ts
  frontend/src/lib/stores/dnp.ts
  frontend/src/lib/stores/graph.ts
  frontend/src/lib/stores/sync.ts
  frontend/src/lib/utils/api-client.ts
  frontend/src/lib/utils/simple-router.ts
Due: typescript-check

Fix CI issues: TypeScript errors and Rust formatting
  backend/src/handlers/oauth.rs
  frontend/src/lib/components/GraphExplorer.svelte
  frontend/src/lib/components/Navigation.svelte
  frontend/src/lib/components/OffenseDatabase.svelte
  frontend/src/lib/components/USWDSShowcase.svelte
  frontend/src/lib/components/UserProfile.svelte
  frontend/src/lib/utils/simple-router.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

Allow TypeScript check to pass with pre-existing warnings
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
Due: none
