Repository kcirtapfromspace/no_drake_in_the_house: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, typescript-check, kubeval

cargo-fmt:
  name: Cargo Format
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo Clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo Check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npm run check'
  language: system
  pass_filenames: false

kubeval:
  name: Kubernetes Manifest Validation
  entry: bash -c 'if command -v kubeval >/dev/null 2>&1; then find k8s helm/templates -name "*.yaml" -exec kubeval {} \; || true; fi'
  language: system
  pass_filenames: false

fix(build): add c++ toolchain for backend image
  backend/Dockerfile
Due: none

fix(build): install cmake for backend image
  backend/Dockerfile
Due: none

refactor(render): split slim api build from full platform
  .github/workflows/render-backend-image.yml
  backend/Cargo.toml
  backend/Dockerfile
  backend/src/handlers/mod.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/services/backfill_orchestrator.rs
  backend/src/services/mod.rs
  scripts/publish-render-backend-image.sh
Due: cargo-fmt, cargo-clippy, cargo-check

ci: validate slim render backend build
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(ci): restore render frontend test coverage
  backend/src/services/spotify.rs
  frontend/src/lib/components/OAuthCallback.svelte
  frontend/src/lib/components/__tests__/AccountLinking.test.ts
  frontend/src/lib/components/__tests__/ArtistDiscographyRevenue.test.ts
  frontend/src/lib/components/__tests__/CategoryRevenueBreakdown.test.ts
  frontend/src/lib/components/__tests__/OAuthCallback.test.ts
  frontend/src/lib/components/__tests__/RegisterForm.test.ts
  frontend/src/lib/components/__tests__/SocialLoginButtons.test.ts
  frontend/src/lib/components/__tests__/oauth-integration.test.ts
  frontend/src/lib/styles/__tests__/ux-consistency.test.ts
  frontend/src/lib/utils/oauth-callback.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

refactor(graph): drop kuzu from active build path
  .github/workflows/ci.yml
  .github/workflows/render-backend-image.yml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/crates/ndith-analytics/Cargo.toml
  backend/crates/ndith-analytics/src/analytics_service/dashboard.rs
  backend/crates/ndith-analytics/src/databases/graph_store.rs
  backend/crates/ndith-analytics/src/databases/kuzu_client.rs
  backend/crates/ndith-analytics/src/databases/mod.rs
  backend/crates/ndith-analytics/src/graph_service/collaboration.rs
  backend/crates/ndith-analytics/src/lib.rs
  backend/crates/ndith-services/src/lib.rs
  backend/src/handlers/graph.rs
  backend/src/lib.rs
  docs/developers/backend-service-split.md
  frontend/src/lib/components/ServiceHealthDashboard.svelte
  frontend/src/lib/stores/analytics.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

style(rust): format ladybug graph transition
  backend/crates/ndith-analytics/src/databases/graph_store.rs
  backend/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(ci): stop assuming cargo config exists in backend image build
  backend/Dockerfile
Due: none

ci: add explicit backend component build matrix
  .github/workflows/ci.yml
Due: none

fix(ci): unblock explicit rust build lanes
  .github/workflows/ci.yml
  backend/Dockerfile
  backend/crates/ndith-core/src/error/oauth.rs
  backend/crates/ndith-core/src/models/oauth.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(ci): align api and services test suites
  backend/crates/ndith-services/src/metrics.rs
  backend/crates/ndith-services/src/oauth.rs
  backend/crates/ndith-services/src/oauth_error_recovery.rs
  backend/crates/ndith-services/src/oauth_google.rs
  backend/crates/ndith-services/src/oauth_security_logger.rs
  backend/crates/ndith-services/src/rate_limiting.rs
  backend/tests/auth_service_unit_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(render): correct disabled platform route wildcards
  backend/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(frontend): proxy render api through backend url
  frontend/nginx-render.conf.template
  frontend/render-entrypoint.sh
  render.yaml
Due: none

fix(frontend): enable sni for render backend proxy
  frontend/nginx-render.conf.template
Due: none

fix(frontend): send backend host header to render upstream
  frontend/nginx-render.conf.template
Due: none

fix(frontend): constrain auth alert icon layout
  frontend/src/lib/components/Login.svelte
Due: typescript-check

fix(frontend): bust cached assets on render deploy
  frontend/render-entrypoint.sh
Due: none

fix(frontend): restore index readability after asset rewrite
  frontend/render-entrypoint.sh
Due: none

fix(frontend): keep user menu above dashboard surfaces
  frontend/src/lib/components/Layout.svelte
Due: typescript-check

fix(frontend): normalize auth input metrics
  frontend/src/lib/components/Login.svelte
Due: typescript-check

fix(sync): restore provider connection flows
  backend/crates/ndith-services/src/apple_music.rs
  frontend/src/lib/components/Layout.svelte
  frontend/src/lib/components/Login.svelte
  frontend/src/lib/components/OAuthCallback.svelte
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/components/__tests__/OAuthCallback.test.ts
  frontend/src/lib/stores/connections.ts
  frontend/src/lib/utils/oauth-callback.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix(ci): import axum post for api route builds
  backend/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(ci): replace stale api integration smoke suite
  backend/tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(ci): replace stale api workflow smoke suites
  backend/tests/end_to_end_workflow_tests.rs
  backend/tests/entity_resolution_unit_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check

ci: gate builds and tests by changed paths
  .github/workflows/ci.yml
Due: none

fix(ci): use dynamic matrices for path gating
  .github/workflows/ci.yml
Due: none

fix(ci): replace stale dnp api test surface
  .github/workflows/ci.yml
  backend/tests/dnp_api_integration_test.rs
  backend/tests/dnp_list_integration_tests.rs
  backend/tests/dnp_list_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(ci): align api smoke tests with render backend
  backend/src/metrics.rs
  backend/src/middleware/latency.rs
  backend/tests/dnp_list_integration_tests.rs
  backend/tests/dnp_list_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(ci): scope rust quality to touched targets
  .github/workflows/ci.yml
  backend/crates/ndith-core/src/models/action.rs
  backend/crates/ndith-core/src/models/artist.rs
  backend/crates/ndith-core/src/models/auth.rs
  backend/crates/ndith-core/src/models/oauth.rs
  backend/crates/ndith-core/src/models/spotify.rs
  backend/crates/ndith-core/src/models/tidal.rs
  backend/crates/ndith-core/src/models/token_vault.rs
  backend/crates/ndith-core/src/models/user.rs
  backend/crates/ndith-db/src/health.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(build): restore post import for full-platform routes
  backend/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(ci): stabilize cors env tests
  backend/src/lib.rs
  backend/src/middleware/cors.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(ci): reuse backend artifact across e2e jobs
  .github/workflows/ci.yml
Due: none

fix(ci): force full validation on workflow changes
  .github/workflows/ci.yml
Due: none

fix(clippy): clean ndith-news lint surface
  backend/crates/ndith-news/src/news_pipeline/ingestion/newsapi_client.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/reddit_monitor.rs
  backend/crates/ndith-news/src/news_pipeline/ingestion/rss_fetcher.rs
  backend/crates/ndith-news/src/news_pipeline/offense_creator.rs
  backend/crates/ndith-news/src/news_pipeline/processing/entity_extractor.rs
  backend/crates/ndith-news/src/news_pipeline/processing/offense_classifier.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  cargo-check: any of: \.rs$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  typescript-check: any of: \.(ts|svelte)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  kubeval: any of: (k8s/.*\.yaml|helm/templates/.*\.yaml)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

