Repository kcirtapfromspace/no_drake_in_the_house: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, typescript-check, kubeval

cargo-fmt:
  name: Cargo Format
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo Clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo Check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npm run check'
  language: system
  pass_filenames: false

kubeval:
  name: Kubernetes Manifest Validation
  entry: bash -c 'if command -v kubeval >/dev/null 2>&1; then find k8s helm/templates -name "*.yaml" -exec kubeval {} \; || true; fi'
  language: system
  pass_filenames: false

feat: request full OAuth scopes for all providers
  convex/lib/oauth.ts
  frontend/src/lib/stores/connections.ts
Due: typescript-check

fix: Tidal sync uses v2 API only — v1 requires legacy r_usr scope
  convex/lib/oauth.ts
  convex/librarySyncActions.ts
  frontend/src/lib/stores/connections.ts
Due: typescript-check

feat: add tooltip on Tidal songs column explaining API limitation
  frontend/src/lib/components/SyncDashboard.svelte
Due: typescript-check

fix: surface Apple Music playlist sync errors in sync status
  convex/librarySyncActions.ts
Due: typescript-check

fix: Spotify playlist tracks endpoint removed Feb 2026
  convex/librarySyncActions.ts
Due: typescript-check

feat: Apple Music sync with checkpoint continuation + diagnostics
  convex/librarySyncActions.ts
Due: typescript-check

fix: Tidal v2 playlist tracks missing artist/album data
  convex/librarySyncActions.ts
Due: typescript-check

fix: update Spotify playlist response parsing for Feb 2026 field renames
  convex/librarySyncActions.ts
Due: typescript-check

fix: Apple Music sync uses limit=25 to match API's silent page cap
  convex/librarySyncActions.ts
Due: typescript-check

fix: playlist cards show correct provider label for all services
  frontend/src/lib/components/PlaylistCard.svelte
  frontend/src/lib/components/PlaylistTracklist.svelte
Due: typescript-check

feat: publish git SHA in frontend health check
  .github/workflows/render-frontend-image.yml
  frontend/Dockerfile.render
  frontend/nginx-render.conf.template
Due: none

feat: publish git SHA in backend health checks
  .github/workflows/render-backend-image.yml
  backend/Dockerfile
  backend/crates/ndith-db/src/health.rs
  backend/src/monitoring.rs
  backend/tests/monitoring_integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: include GIT_SHA in envsubst variable list for nginx config
  frontend/render-entrypoint.sh
Due: none

feat: add diagnostic query for failed sync runs
  convex/librarySyncActions.ts
Due: typescript-check

fix: handle Apple Music HTTP/2 protocol error as end-of-pagination
  convex/librarySyncActions.ts
Due: typescript-check

feat: capture Apple Music sync diagnostics in checkpoint data
  convex/librarySyncActions.ts
Due: typescript-check

fix: retry on Apple Music HTTP/2 connection drops at offset ~2500
  convex/librarySyncActions.ts
Due: typescript-check

fix: use continuation pattern for Apple Music HTTP/2 drops
  convex/librarySyncActions.ts
Due: typescript-check

fix: apply HTTP/2 continuation pattern to Apple Music playlist tracks
  convex/librarySyncActions.ts
Due: typescript-check

fix: don't serve empty cache when connected platforms have data
  frontend/src/lib/components/SyncDashboard.svelte
Due: typescript-check

fix: revert bogus Spotify API field renames and add sync crash safety net
  convex/librarySyncActions.ts
Due: typescript-check

fix: re-apply Spotify Feb 2026 migration (lost in concurrent edits)
  convex/librarySyncActions.ts
Due: typescript-check

debug: add Spotify sync breadcrumb to trace execution
  convex/librarySyncActions.ts
Due: typescript-check

fix: add 15s timeout to OAuth token exchange/refresh fetches
  convex/lib/oauth.ts
Due: typescript-check

debug: add detailed Spotify sync logging to trace hang
  convex/librarySyncActions.ts
Due: typescript-check

debug: trace Spotify sync with metadata breadcrumbs at each step
  convex/librarySyncActions.ts
Due: typescript-check

fix: add 30s timeout to ALL API fetch calls
  convex/librarySyncActions.ts
Due: typescript-check

debug: add Spotify API test action
  convex/librarySyncActions.ts
Due: typescript-check

fix: revert fabricated Spotify Feb 2026 migration
  convex/librarySyncActions.ts
Due: typescript-check

fix: apply verified Spotify Feb 2026 dev mode migration
  convex/librarySyncActions.ts
Due: typescript-check

feat: fix Taste Grade computation + preserve Spotify Feb 2026 migration
  convex/library.ts
  convex/librarySyncActions.ts
  convex/sync.ts
  frontend/src/lib/components/SyncDashboard.svelte
  frontend/src/lib/convex/bridge.ts
Due: typescript-check

docs: PRD for research pipeline PostgreSQL → Convex migration
  tasks/prd-research-pipeline-convex-migration.md
Due: none

fix: bridge Convex evidence finder to Rust backend (auth + artist ID)
  backend/crates/ndith-core/src/models/auth.rs
  backend/src/middleware/auth.rs
  convex/evidenceFinder.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

feat: add offense/evidence write and research quality mutations (US-003, US-004)
  convex/newsIngestion.ts
  convex/schema.ts
Due: typescript-check

feat: use artist name for research trigger + simplify service auth (US-005, US-006)
  convex/evidenceFinder.ts
  convex/lib/serviceAuth.ts
Due: typescript-check

feat: add Convex HTTP client for research pipeline mutations (US-001)
  backend/crates/ndith-news/src/convex_client.rs
  backend/crates/ndith-news/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

feat: implement research trigger endpoint and add CONVEX_URL config (US-007, US-008)
  backend/src/handlers/news.rs
  backend/src/lib.rs
  render.yaml
Due: cargo-fmt, cargo-clippy, cargo-check

feat: replace PostgreSQL writes with Convex HTTP calls in news pipeline (US-002)
  backend/crates/ndith-news/src/news_pipeline/autoresearch.rs
  backend/crates/ndith-news/src/news_pipeline/offense_creator.rs
  backend/crates/ndith-news/src/news_pipeline/orchestrator.rs
  backend/crates/ndith-news/src/news_pipeline/repository.rs
  backend/src/backfill_orchestrator.rs
  backend/src/handlers/news.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: remove feature gate on axum::routing::post import
  backend/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix: gate create_news_router and its imports behind news feature
  backend/src/lib.rs
  backend/src/runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Path conditions:
  cargo-fmt: any of: \.rs$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  cargo-clippy: any of: \.rs$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  cargo-check: any of: \.rs$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  typescript-check: any of: \.(ts|svelte)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

  kubeval: any of: (k8s/.*\.yaml|helm/templates/.*\.yaml)$, but not: (?x)^(
  .*\.lock$|
  .*\.log$|
  target/.*|
  node_modules/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*|
  backend/target/.*|
  frontend/node_modules/.*|
  frontend/build/.*|
  frontend/public/build/.*
)$

