Repository kcirtapfromspace/no_drake_in_the_house: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, typescript-check, kubeval

.pre-commit-config.yaml:

# Pre-commit hooks for No Drake in the House
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in Kubernetes manifests
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: cargo fmt
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all', '--', '--check']

      - id: cargo-clippy
        name: Cargo Clippy
        entry: cargo clippy
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features', '--', '-D', 'warnings']

      - id: cargo-check
        name: Cargo Check
        entry: cargo check
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features']

  # Frontend formatting and linting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: '\.(js|ts|svelte|json|css|md|yaml|yml)$'
        exclude: '(package-lock\.json|\.lock|target/|node_modules/|\.git/)'
        args: ['--write']

  # TypeScript checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd frontend && npm run check'
        language: system
        files: '\.(ts|svelte)$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '(package-lock\.json|Cargo\.lock|\.env\.example)'

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008', '--ignore', 'DL3009']

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']  # Ignore sourcing files that may not exist

  # Kubernetes manifest validation
  - repo: local
    hooks:
      - id: kubeval
        name: Kubernetes Manifest Validation
        entry: bash -c 'if command -v kubeval >/dev/null 2>&1; then find k8s helm/templates -name "*.yaml" -exec kubeval {} \; || true; fi'
        language: system
        files: '(k8s/.*\.yaml|helm/templates/.*\.yaml)$'
        pass_filenames: false

  # SQL formatting (if sqlfluff is available)
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.3.5
    hooks:
      - id: sqlfluff-lint
        files: '\.sql$'
        args: ['--dialect', 'postgres']
      - id: sqlfluff-fix
        files: '\.sql$'
        args: ['--dialect', 'postgres']

# Configuration for specific tools
default_language_version:
  python: python3.11
  node: '18.19.0'

# Global excludes
exclude: |
  (?x)^(
    .*\.lock$|
    .*\.log$|
    target/.*|
    node_modules/.*|
    \.git/.*|
    \.vscode/.*|
    \.idea/.*|
    backend/target/.*|
    frontend/node_modules/.*|
    frontend/build/.*|
    frontend/public/build/.*
  )$

# Fail fast - stop on first failure
fail_fast: false

# Minimum pre-commit version
minimum_pre_commit_version: '3.0.0'

Allow TypeScript check to pass with pre-existing warnings
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
Due: none

Fix CI: Add protobuf-compiler and allow pre-existing test failures
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
Due: none

Fix build.rs: Remove unused std::env import
  backend/build.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Allow pre-existing Clippy warnings to pass CI
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
Due: none

Fix security-scan CI issues: CodeQL v3, unique SARIF categories
  .github/workflows/ci.yml
Due: none

Allow security-scan steps to fail without blocking CI
  .github/workflows/ci.yml
Due: none

Free disk space on CI runners to prevent out-of-space errors
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
Due: none

Consolidate CI/CD to single Fly.io pipeline
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/fly-deploy.yml
Due: none

Add trouble score and revenue tracking analytics
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migrations/017_trouble_scores.sql
  backend/migrations/018_playcount_revenue.sql
  backend/src/handlers/analytics_v2.rs
  backend/src/services/analytics_service/mod.rs
  backend/src/services/analytics_service/revenue.rs
  backend/src/services/analytics_service/trouble_score.rs
  backend/src/services/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check

Add Revenue Impact dashboard and wire up analytics routes
  backend/src/lib.rs
  frontend/public/build/bundle.js
  frontend/public/build/bundle.js.map
  frontend/src/App.svelte
  frontend/src/lib/components/RevenueImpact.svelte
  frontend/src/lib/stores/analytics.ts
  frontend/src/lib/utils/simple-router.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix: Correct Rust toolchain action name in CI workflow
  .github/workflows/ci.yml
Due: none

feat: Enable Spotify sync worker and improve enforcement polling
  backend/src/main.rs
  frontend/src/lib/stores/enforcement.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

feat: Add Spotify enforcement handlers and improve artist profile UI
  backend/src/handlers/mod.rs
  backend/src/handlers/spotify_enforcement.rs
  backend/src/lib.rs
  frontend/src/lib/components/ArtistProfile.svelte
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check
