Repository kcirtapfromspace/no_drake_in_the_house: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, typescript-check, kubeval

.pre-commit-config.yaml:

# Pre-commit hooks for No Drake in the House
# Install with: pip install pre-commit && pre-commit install

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in Kubernetes manifests
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo Format
        entry: cargo fmt
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all', '--', '--check']

      - id: cargo-clippy
        name: Cargo Clippy
        entry: cargo clippy
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features', '--', '-D', 'warnings']

      - id: cargo-check
        name: Cargo Check
        entry: cargo check
        language: system
        files: '\.rs$'
        pass_filenames: false
        args: ['--all-targets', '--all-features']

  # Frontend formatting and linting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: '\.(js|ts|svelte|json|css|md|yaml|yml)$'
        exclude: '(package-lock\.json|\.lock|target/|node_modules/|\.git/)'
        args: ['--write']

  # TypeScript checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd frontend && npm run check'
        language: system
        files: '\.(ts|svelte)$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '(package-lock\.json|Cargo\.lock|\.env\.example)'

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: ['--ignore', 'DL3008', '--ignore', 'DL3009']

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: ['-e', 'SC1091']  # Ignore sourcing files that may not exist

  # Kubernetes manifest validation
  - repo: local
    hooks:
      - id: kubeval
        name: Kubernetes Manifest Validation
        entry: bash -c 'if command -v kubeval >/dev/null 2>&1; then find k8s helm/templates -name "*.yaml" -exec kubeval {} \; || true; fi'
        language: system
        files: '(k8s/.*\.yaml|helm/templates/.*\.yaml)$'
        pass_filenames: false

  # SQL formatting (if sqlfluff is available)
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 2.3.5
    hooks:
      - id: sqlfluff-lint
        files: '\.sql$'
        args: ['--dialect', 'postgres']
      - id: sqlfluff-fix
        files: '\.sql$'
        args: ['--dialect', 'postgres']

# Configuration for specific tools
default_language_version:
  python: python3.11
  node: '18.19.0'

# Global excludes
exclude: |
  (?x)^(
    .*\.lock$|
    .*\.log$|
    target/.*|
    node_modules/.*|
    \.git/.*|
    \.vscode/.*|
    \.idea/.*|
    backend/target/.*|
    frontend/node_modules/.*|
    frontend/build/.*|
    frontend/public/build/.*
  )$

# Fail fast - stop on first failure
fail_fast: false

# Minimum pre-commit version
minimum_pre_commit_version: '3.0.0'

fix(posthog): enforce proxy host when runtime env points to posthog cloud (#31)
  frontend/render-entrypoint.sh
  frontend/src/lib/utils/config.ts
Due: typescript-check

fix(spotify): harden refresh path for authenticated sync
  .github/workflows/render-frontend-image.yml
  backend/src/handlers/spotify_connection.rs
  backend/src/lib.rs
  frontend/src/lib/stores/__tests__/connections.test.ts
  frontend/src/lib/stores/connections.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

chore(ci): drop unrelated workflow delta from spotify fix
  .github/workflows/render-frontend-image.yml
Due: none

fix(backend): remove duplicate spotify refresh route
  backend/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(spotify): add token-vault fallback for sync token decode
  backend/src/handlers/spotify_connection.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(oauth): unify token broker, restore all provider flows
  backend/crates/ndith-services/src/oauth_config_validator.rs
  backend/crates/ndith-services/src/oauth_github.rs
  convex/appleMusic.ts
  convex/enforcement.ts
  convex/lib/oauth.ts
  convex/librarySyncActions.ts
  convex/providerOAuth.ts
  frontend/src/lib/convex/bridge.ts
  frontend/src/lib/stores/connections.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix(ci): align backend deploy hook with working frontend pattern
  .github/workflows/render-backend-image.yml
Due: none

fix(ci): restore imgURL param in backend deploy hook
  .github/workflows/render-backend-image.yml
Due: none

fix(ci): pass VITE_CONVEX_URL build arg to frontend Docker image
  .github/workflows/render-frontend-image.yml
Due: none

fix(ci): use existing CONVEX_URL secret for frontend build arg
  .github/workflows/render-frontend-image.yml
Due: none

feat(auth): add RS256 JWT signing with OIDC discovery for Convex
  backend/Cargo.lock
  backend/Cargo.toml
  backend/crates/ndith-core/src/models/auth.rs
  backend/crates/ndith-services/Cargo.toml
  backend/crates/ndith-services/src/auth.rs
  backend/crates/ndith-services/src/auth_stub.rs
  backend/src/handlers/mod.rs
  backend/src/handlers/oidc.rs
  backend/src/lib.rs
  backend/tests/auth_service_unit_tests.rs
  backend/tests/core_unit_tests.rs
  convex/auth.config.ts
Due: cargo-fmt, cargo-clippy, cargo-check, typescript-check

fix(convex): hardcode auth issuer URL to avoid env var requirement
  convex/auth.config.ts
Due: typescript-check

fix(convex): use AUTH_ISSUER_URL env var for auth config
  convex/auth.config.ts
Due: typescript-check

fix(auth): disable aud/iss claim validation in backend token verify
  backend/crates/ndith-services/src/auth.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(auth): restore aud validation in RS256 token verify
  backend/crates/ndith-services/src/auth.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(auth): fix HS256 aud validation for legacy tokens + rustfmt
  backend/crates/ndith-services/src/auth.rs
  backend/src/handlers/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(ci): make deploy hook fallback non-fatal (continue-on-error)
  .github/workflows/render-backend-image.yml
Due: none

fix(ci): consolidate Render deploy into single step with clear errors
  .github/workflows/render-backend-image.yml
Due: none

fix(ci): simplify backend deploy to use hook only, drop Render API
  .github/workflows/render-backend-image.yml
Due: none

fix(ci): hit deploy hook URL as-is, no query params
  .github/workflows/render-backend-image.yml
Due: none

fix(auth): use RS256 in login_user path (was bypassing generate_token_pair)
  backend/crates/ndith-services/src/auth.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(auth): add RS256 verify error logging to diagnose login failure
  backend/crates/ndith-services/src/auth.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(auth): skip aud validation in backend verify_token
  backend/crates/ndith-services/src/auth.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(auth): derive DecodingKey from public key PEM, not private key
  backend/crates/ndith-services/src/auth.rs
Due: cargo-fmt, cargo-clippy, cargo-check

fix(frontend): guard sync store derived values against non-array status
  frontend/src/lib/stores/sync.ts
Due: typescript-check

fix(convex): relax sync queries from requireOwner to requireCurrentUser
  convex/sync.ts
Due: typescript-check

fix(frontend): guard overallGrade against undefined in taste grade template
  frontend/src/lib/components/SyncDashboard.svelte
Due: typescript-check

fix(frontend): guard all SyncDashboard template expressions against undefined
  frontend/src/lib/components/SyncDashboard.svelte
Due: typescript-check

fix(frontend): defer Spotify auto-refresh to avoid killing Svelte hydration
  frontend/src/lib/stores/connections.ts
Due: typescript-check

fix(frontend): catch fetchConnections error in Layout onMount to prevent app crash
  frontend/src/lib/components/Layout.svelte
Due: typescript-check

fix(oauth): compute redirect URIs from OAUTH_CALLBACK_BASE_URL
  convex/lib/oauth.ts
Due: typescript-check

feat(oauth): add PKCE support for Tidal (OAuth 2.1) + fix token exchange
  convex/lib/oauth.ts
  convex/providerOAuth.ts
  frontend/src/lib/convex/bridge.ts
  frontend/src/lib/stores/connections.ts
  frontend/src/lib/utils/oauth-callback.ts
Due: typescript-check

fix(frontend): disable auto Spotify refresh that 502s and floods console
  frontend/src/lib/stores/connections.ts
Due: typescript-check

fix(oauth): fix Tidal PKCE popup, add Apple Music sync, fix Spotify auto-sync
  convex/librarySyncActions.ts
  convex/providerOAuth.ts
  convex/sync.ts
  frontend/src/lib/stores/connections.ts
  frontend/src/lib/utils/oauth-callback.ts
Due: typescript-check

fix(bridge): let library reads fall through to Rust backend (PostgreSQL)
  frontend/src/lib/convex/bridge.ts
Due: typescript-check

Revert "fix(bridge): let library reads fall through to Rust backend (PostgreSQL)"
  frontend/src/lib/convex/bridge.ts
Due: typescript-check

fix(sync): fix checkpoint initialization that skipped all sync phases
  convex/librarySyncActions.ts
  convex/sync.ts
Due: typescript-check

fix(connections): route fetchConnections through Convex bridge
  frontend/src/lib/stores/connections.ts
Due: typescript-check

fix(sync): batch _clearProviderTracks to avoid 4096 read limit
  convex/librarySyncActions.ts
Due: typescript-check

fix(apple-music): route developer-token through Convex bridge, stop 500 spam
  convex/appleMusic.ts
  frontend/src/lib/convex/bridge.ts
  frontend/src/lib/utils/musickit.ts
Due: typescript-check
